<h3 mat-dialog-title align="center"><mat-card><b>Enter OTP</b></mat-card></h3>
<div mat-dialog-content>

        <form class="example-form">

               

                  <mat-form-field class="example-full-width">
                  	<mat-label>Enter OTP</mat-label>
                        <input matInput placeholder="" >
                </mat-form-field>

         <a>Resend OTP</a>

        </form>


</div>
<div align="right">
        <button mat-raised-button target="_blank" color="primary" mat-dialog-close (click)="openDialog()">Pay Now</button>
</div>