

<div class="content1">

<div fxLayout='row' class="" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
    <mat-toolbar class="crumb">
        <div class="mv-19">
            <span class="mv-17"><a  routerLink="/finance">Finance</a><span class="mv-18">/</span></span>
            <span class="mv-17"><a  routerLink="/finance/itemmanagement/">Item Management</a><span class="mv-18">/</span></span>
             <span class="mv-17"><a  routerLink="/finance/items/">Items</a><span class="mv-18">/</span></span>
            <span class="mv-17">Item Images</span>
        </div>
    </mat-toolbar>

</div>
    
    
    <div fxLayout='row' fxLayout.xs='column' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
        
        <div class="content" fxFlex="100%">
        <mat-card>
            <div fxFlex="100%" class="heading" fxLayout.xs='column' fxLayout.sm='column'>
                <h2 class="mat-h2">Item Images</h2>
            </div>
    
            <div fxFlex="100%" class="heading" fxLayout.xs='column'  fxLayout.sm='column'>
                <div class="example-button-row" fxLayoutGap="1%" fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.md="start" fxLayoutAlign.sm="start">
                   
                  
                  <button mat-stroked-button><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">delete_outline</mat-icon><small>Delete</small></button>

                  <a mat-stroked-button><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">add</mat-icon><small>Add video Url</small></a>

                  <a mat-stroked-button><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">add</mat-icon><small>Add Document</small></a>
                     <button mat-stroked-button ><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">arrow_downward</mat-icon><small>Make Default</small></button>
                </div>
    
    
    
            </div>
    
    
    
        </mat-card>
    
        </div>
    </div>
    
    
    <div fxLayout='row' class="content content2" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">
    
    <mat-card fxFlex="100%">
    
<h4>Image Gallery</h4>
<div class="contents" id="gallery">

<div class="cssbox">
  <a id="image1" href="#image1">
    <img class="cssbox_thumb" src="https://www.gstatic.com/webp/gallery/1.jpg">
    <span class="cssbox_full">
      <img src="https://www.gstatic.com/webp/gallery/1.jpg">
    </span>
  </a>
   <a class="cssbox_prev" href="#image3"><span class="material-icons">
navigate_before
</span></a>
  <a class="cssbox_close" href="#void"></a>
  <a class="cssbox_next" href="#image2"><span class="material-icons">
navigate_next
</span></a>
</div>

<div class="cssbox">
  <a id="image2" href="#image2">
    <img class="cssbox_thumb" src="https://www.gstatic.com/webp/gallery/1.jpg">
    <span class="cssbox_full">
      <img src="https://www.gstatic.com/webp/gallery/1.jpg">
    </span>
  </a>
  <a class="cssbox_close" href="#void"></a>
  <a class="cssbox_prev" href="#image1"><span class="material-icons">
navigate_before
</span></a>
  <a class="cssbox_next" href="#image3"><span class="material-icons">
navigate_next
</span></a>
</div>

<div class="cssbox">
  <a id="image3" href="#image3">
    <img class="cssbox_thumb" src="https://www.gstatic.com/webp/gallery/1.jpg">
    <span class="cssbox_full">
      <img src="https://www.gstatic.com/webp/gallery/1.jpg">
    </span>
  </a>
  <a class="cssbox_close" href="#void"></a>
  <a class="cssbox_prev" href="#image2"><span class="material-icons">
navigate_before
</span></a>
  <a class="cssbox_next" href="#image1"><span class="material-icons">
navigate_next
</span></a>
</div>


<div class="cssbox">
  <a id="image4" href="#image4">
    <img class="cssbox_thumb" src="https://www.gstatic.com/webp/gallery/1.jpg">
    <span class="cssbox_full">
      <img src="https://www.gstatic.com/webp/gallery/1.jpg">
    </span>
  </a>
   <a class="cssbox_prev" href="#image3"><span class="material-icons">
navigate_before
</span></a>
  <a class="cssbox_close" href="#void"></a>
  <a class="cssbox_next" href="#image5"><span class="material-icons">
navigate_next
</span></a>
</div>

<div class="cssbox">
  <a id="image5" href="#image5">
    <img class="cssbox_thumb" src="https://www.gstatic.com/webp/gallery/1.jpg">
    <span class="cssbox_full">
      <img src="https://www.gstatic.com/webp/gallery/1.jpg">
    </span>
  </a>
  <a class="cssbox_close" href="#void"></a>
  <a class="cssbox_prev" href="#image4"><span class="material-icons">
navigate_before
</span></a>
  <a class="cssbox_next" href="#image6"><span class="material-icons">
navigate_next
</span></a>
</div>

<div class="cssbox">
  <a id="image6" href="#image6">
    <img class="cssbox_thumb" src="https://www.gstatic.com/webp/gallery/1.jpg">
    <span class="cssbox_full">
      <img src="https://www.gstatic.com/webp/gallery/1.jpg">
    </span>
  </a>
  <a class="cssbox_close" href="#void"></a>
  <a class="cssbox_prev" href="#image5"><span class="material-icons">
navigate_before
</span></a>
  <a class="cssbox_next" href="#image1"><span class="material-icons">
navigate_next
</span></a>
</div>




</div>
    
    </mat-card>
    
    </div>
    
    
    
    </div>
    <router-outlet></router-outlet>