<mat-card><h2 mat-dialog-title>Add Entity Id</h2></mat-card><br>
<div mat-dialog-content>
	

<mat-form-field class="example-full-width">
      <mat-label>Client*</mat-label>
      <input matInput>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Entity ID*</mat-label>
      <input matInput>
    </mat-form-field>
      <p>Max Length : 20 Chars Only.</p>
    <mat-form-field class="example-full-width">
      <mat-label>Entity Name</mat-label>
      <input matInput>
    </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-raised-button mat-dialog-close>Save Entity</button>
</div>