<div class="content1">

	 <div fxLayout='row' class="" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
        <mat-toolbar class="crumb">
            <div class="mv-19">
                <span class="mv-17"><a  routerLink="/distribution">Distribution</a><span class="mv-18">/</span></span>
                <span class="mv-17"><a  routerLink="/distribution/saleorder/">Sale Order</a><span class="mv-18">/</span></span>
                <span class="mv-17">Branch To Branch Orders</span>
            </div>
        </mat-toolbar>
    
    </div><br>

	<div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
		<h2 class="mat-h2">Branch Orders</h2>
	</div>
	
	<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	
		<mat-card fxFlex="33%" routerLink="/distribution/subscription" class="">
			<img mat-card-sm-image src="./assets/images/confirmation-letter.png" alt="Complaints">
			<mat-card-title>Subscription</mat-card-title>
		</mat-card>
	
		<mat-card fxFlex="33%" routerLink="/distribution/pendingorders" class="">
			<img mat-card-sm-image src="./assets/images/assets.png" alt="Complaints">
			<mat-card-title>Pending Orders</mat-card-title>
		</mat-card>
	
		<mat-card fxFlex="33%" routerLink="/distribution/acceptedorders" class="">
			<img mat-card-sm-image src="./assets/images/experience.png" alt="Complaints">
			<mat-card-title>Accepted Orders</mat-card-title>
		</mat-card>
    </div>
    
    
	<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	
		<mat-card fxFlex="33%" routerLink="/distribution/readytopack" class="">
			<img mat-card-sm-image src="./assets/images/leave.png" alt="Complaints">
			<mat-card-title>Ready To Pack</mat-card-title>
		</mat-card>
	
		<mat-card fxFlex="33%" routerLink="/distribution/readytobill" class="">
			<img mat-card-sm-image src="./assets/images/joining.png" alt="Complaints">
			<mat-card-title>Ready To Bill</mat-card-title>
		</mat-card>
	
		<mat-card fxFlex="33%" routerLink="/distribution/dispatchedorders" class="">
			<img mat-card-sm-image src="./assets/images/assets.png" alt="Complaints">
			<mat-card-title>Dispatched Orders</mat-card-title>
		</mat-card>
    </div>
    
      
	<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	
		<mat-card fxFlex="33%" routerLink="/distribution/deliveredorders" class="">
			<img mat-card-sm-image src="./assets/images/relieving.png" alt="Complaints">
			<mat-card-title>Delivered Orders</mat-card-title>
		</mat-card>
	
		<mat-card fxFlex="33%" routerLink="/distribution/complaint" class="border">
			<img mat-card-sm-image src="./assets/images/country.png" alt="Complaints">
			<mat-card-title>Complaint</mat-card-title>
		</mat-card>
	
		<mat-card fxFlex="33%" routerLink="/distribution/allorders" class="">
			<img mat-card-sm-image src="./assets/images/detailed-monthly.png" alt="Complaints">
			<mat-card-title>All Orders</mat-card-title>
		</mat-card>
    </div>
    
    <div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	
		<mat-card fxFlex="31.5%" routerLink="/distribution/ageingreport" class="">
			<img mat-card-sm-image src="./assets/images/monthly.png" alt="Complaints">
			<mat-card-title>Ageing Report</mat-card-title>
		</mat-card>
	
	
	</div>


	
	</div>
	<router-outlet></router-outlet>
	