<mat-card><h2 mat-dialog-title>Add Sender Id</h2></mat-card>
<div mat-dialog-content>
	

<mat-form-field class="example-full-width">
      <mat-label>Sender Id</mat-label>
      <input matInput>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Company</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>DLT Number</mat-label>
      <input matInput>
    </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-raised-button mat-dialog-close>Submit</button>
</div>