<div class="content1" style="font-family: arial">
    <mat-toolbar  class="mat-elevation-z6 fixed-header" align="center" align="center" style="position:fixed;z-index: 99; top: 0; right: 0; left: 0;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);background: #f5f5f5;height: 64px;display: flex;box-sizing: border-box;padding: 0 16px;
width: 100%;flex-direction: row;align-items: center;white-space: nowrap;color: rgba(0,0,0,.87);">
      <div class="example-button-row" style="margin: 0 auto!important; ">

         <button mat-stroked-button style="margin-right: 10px;padding: 0 8px; line-height: 30px;"><span class="material-icons">
          email</span> <small>Email</small></button>

        

        <button mat-stroked-button><span class="material-icons" style="margin-right:10px;padding: 0 8px;  line-height: 30px;">
          print</span> <small>Print</small></button>


       
      </div>
    </mat-toolbar>
     <div style="margin-top: 80px;">
        <div  class="pdd-20" style="font-size:14px;font-family:arial;
  letter-spacing: normal;width:900px; margin: 0 auto !important; display:block !important ">

      <div  fxLayout='row' class="content" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left"
          style=" display:block !important; border:1px solid #000 !important; margin:0 auto !important; padding:0px 0px 0px 0px; justify-content:center; width:100%;">
        <div style=" 
  align-items: center; display:block !important; 
  display: contents; width: 100%">
      <mat-card class="mat-card2" style="
  padding: 0px;
  background: #fff; width: 100%
 ">
      <div fxLayout='row' fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" class="tp-row" style="
    padding: 10px;
    display: inline-flex;
    width: 100%;    box-sizing: border-box;">
      
       <div fxFlex="50%" align="left" style="width: 50%; float: left">
          <img src="http://geton.co.in/dialerp-new/assets/images/Dial-ERP-Logo.svg" class="logo" style="width: 200px;">
        </div>
      
      <div fxFlex="50%" align="right" style="width: 50%; float: left">
          <h2 style="margin:0px" class="mat-h2 heading">Production Voucher</h2>
        </div>

</div>
    <div fxLayout='row' fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" style="
    display: inline-flex;
    width: 100%;">
      
       <div fxFlex="100%" align="left" class="cnt" style="padding:0px 0px 0px 12px; width: 100%; float: left;" >
          <p class="heading" style="margin-bottom: 0px;"><b>Geton Infotech Pvt Ltd,</b></p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">C-120 Sec-02, Noida</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Uttar Pradesh - 201301</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Mobile : +91-9999999999</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Email : info@dialerp.com</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">GSTIN : JKF57683HHJJ</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">PIN : 3393003kh33</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">CIN : 784GHJJG789</p>
 
        </div>
        


      </div>
    
      
      
      
       <div class="table t-table" style="margin-bottom: 30px; text-align: center !important;
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;">
           <table cellspacing="0" cellpadding="0" style="
    width: 100%;
    box-shadow: none;">
            <tr>
             	<th style="font-weight: normal;
    padding: 5px 5px;
    border-right: 1px solid #000;">Voucher No	</th>
      		<th style="font-weight: normal;
    padding: 5px 5px;
    border-right: 1px solid #000;">Date</th>
      		<th style="font-weight: normal;
    padding: 5px 5px;
    border-right: 1px solid #000;">Time</th>
          <th style="font-weight: normal;
    padding: 5px 5px;
    border-right: 1px solid #000;">Production Slip No.</th>
          <th style="font-weight: normal;
    padding: 5px 5px;
    border-right: 1px solid #000;">Batch</th>
          <th style="font-weight: normal;
    padding: 5px 5px;
    border-right: 1px solid #000;">BOM</th>
          <th style="font-weight: normal;
    padding: 5px 5px;
   ">Supervisor</th>
            </tr>
      
            <tr>
                    
                    <td style="font-weight: bold;
    padding: 5px 5px;
    border-right: 1px solid #000;">567896</td>
                    <td style="font-weight: bold;
    padding: 5px 5px;
    border-right: 1px solid #000;">30-Apr-2021</td>
                    <td style="font-weight: bold;
    padding: 5px 5px;
    border-right: 1px solid #000;">1:32 Pm</td>
                    <td style="font-weight: bold;
    padding: 5px 5px;
    border-right: 1px solid #000;">210528-PS-001</td>
                    <td style="font-weight: bold;
    padding: 5px 5px;
    border-right: 1px solid #000;">1001</td>
                    <td style="font-weight: bold;
    padding: 5px 5px;
    border-right: 1px solid #000;">CPU with i5 Processor</td>
                    <td style="font-weight: bold;
    padding: 5px 5px;
   ">Susheel Kumar</td>
            </tr>
        </table>
      </div>
      
      <strong style="display: block;
    margin-bottom: 10px;
    text-align: left !important;
    padding-left: 10px;">Item Generated</strong>

      <table class="details" cellpadding="0"  cellspacing="0" style="border-top: 1px solid #000; width: 100%;
    box-shadow: none;margin-bottom:30px;">

      	<tr align="left" class="head">
      		<th class="wd-13" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Sr.</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Code</span></th>
      		<th class="wd-150" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Item</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Qty</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Unit</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Price</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;text-align: right;"><span>Amount</span></th>
      	</tr>
               
 <tr align="left">
                    <td class="wd-13" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>1</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>7846</span></td>
                    <td class="wd-150" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>CPU</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>10</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Pcs.</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>12,760</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;text-align: right;"><span>1,27,600</span></td>
                    
                </tr>
                 <tr align="left">
                    <td colspan="6" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Total</span></td>
                    
                    <td class="wd-75"  style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;text-align: right;"><span>1,35,100</span></td>
                    
                </tr>
            </table>

 <strong style="display: block;
    margin-bottom: 10px;
    text-align: left !important;
    padding-left: 10px;">Item Consumed</strong>
     <table class="details" cellpadding="0"  cellspacing="0" style="border-top: 1px solid #000; width: 100%;
    box-shadow: none;">
      	<tr align="left" class="head">
      		<th class="wd-13" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Sr.</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Code</span></th>
      		<th class="wd-150" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Item</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Qty</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Unit</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px;"><span>Price</span></th>
      		<th class="wd-75" style="height: 29px;border-bottom: 1px solid #000;
    padding: 0px 5px; text-align: right;" ><span>Amount</span></th>
      	</tr>
                <tr align="left">
                    <td class="wd-13" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>1</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>782</span></td>
                    <td class="wd-150" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Cabinet</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>10</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Pcs.</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>800</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;text-align: right;"><span>8,000</span></td>
                    
                </tr>

                   <tr align="left">
                    <td class="wd-13" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>2</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>783</span></td>
                    <td class="wd-150" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Hard Disk 1 TB</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>10</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Pcs.</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>4,560</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;text-align: right"><span>45,600</span></td>
                    
                </tr>

                   <tr align="left">
                    <td class="wd-13" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>3</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>784</span></td>
                    <td class="wd-150" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Intel Processor 15</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>10</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Pcs.</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>400</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;text-align: right;"><span>4,000</span></td>
                    
                </tr>

                  <tr align="left">
                    <td class="wd-13" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>4</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>785</span></td>
                    <td class="wd-150" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>SMPS</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>20</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Pcs.</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>400</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;text-align: right;"><span>8,000</span></td>
                    
                </tr>


 				 <tr align="left">
                    <td class="wd-13" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>5</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>786</span></td>
                    <td class="wd-150" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>RAM 4 GB</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>10</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Pcs.</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>2,000</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;text-align: right;"><span>20,000</span></td>
                    
                </tr>


 				 <tr align="left">
                    <td class="wd-13" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>6</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>787</span></td>
                    <td class="wd-150" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Sony CD Drive</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>10</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Pcs.</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>1,200</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;text-align: right"><span>12,000</span></td>
                    
                </tr>


 				 <tr align="left">
                    <td class="wd-13" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>7</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>788</span></td>
                    <td class="wd-150" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Motherboard</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>10</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>Pcs.</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;"><span>2,750</span></td>
                    <td class="wd-75" style="    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0px;
    height: 30px;
    padding: 0px 5px;text-align: right;"><span>27,500</span></td>
                    
                </tr>

              

            </table>


    
       
     

      <div fxLayout='row' class="total" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" style="padding: 0px 10px;border-bottom: 1px solid #000;border-bottom: 1px solid rgb(0, 0, 0);padding: 3px 6px;font-size: 14px;flex-direction: row;box-sizing: border-box;display: flex;place-content: stretch flex-start;align-items: stretch;width: 100%;">
      
      <div fxFlex="80%" style="margin-bottom: 0px; width:80%;">
           <small> Packaging Charges</small>
        </div>
      
       <div fxFlex="20%" align="right" style="margin-bottom: 0px;width:20%;">
         <p class="pr-20" style="margin-bottom: 0px; 
  margin-top: 0px;padding-right: 9px;
  line-height: 20px;">5,000</p>
        </div>
      
      </div>

         <div fxLayout='row' class="total" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" style="padding: 0px 10px;border-bottom: 1px solid #000;border-bottom: 1px solid rgb(0, 0, 0);padding: 3px 6px;font-size: 14px;flex-direction: row;box-sizing: border-box;display: flex;place-content: stretch flex-start;align-items: stretch;width: 100%;">
      
        <div fxFlex="80%" style="margin-bottom: 0px; width:80%;">
            <small>Labour Charges</small>	
        </div>
      
        <div fxFlex="20%" align="right" style="margin-bottom: 0px;width:20%;">
          <p class="pr-20" style="margin-bottom: 0px; 
  margin-top: 0px;padding-right: 9px;
  line-height: 20px;">5,000</p>
        </div>
      
      </div>

         <div fxLayout='row' class="total" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" style="padding: 0px 10px;border-bottom: 1px solid #000;border-bottom: 1px solid rgb(0, 0, 0);padding: 3px 6px;font-size: 14px;flex-direction: row;box-sizing: border-box;display: flex;place-content: stretch flex-start;align-items: stretch;width: 100%;">
      
        <div fxFlex="80%" style="margin-bottom: 0px; width:80%; text-align: right;">
            <b>Total Cost</b>
        </div>
      
         <div fxFlex="20%" align="right" style="margin-bottom: 0px;width:20%;">
          <p class="pr-20" style="margin-bottom: 0px; 
  margin-top: 0px;padding-right: 9px;
  line-height: 20px;"><b>1,35,100</b></p>
        </div>
      
      </div>

        <div fxLayout='row' class="total" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" style="padding: 0px 10px;border-bottom: 1px solid #000;border-bottom: 1px solid rgb(0, 0, 0);padding: 3px 6px;font-size: 14px;flex-direction: row;box-sizing: border-box;display: flex;place-content: stretch flex-start;align-items: stretch;width: 100%;">


         <div fxFlex="80%" style="margin-bottom: 0px; width:80%; text-align: right;">
            Effective Rate of Primary Item
        </div>
      
          <div fxFlex="20%" align="right" style="margin-bottom: 0px;width:20%;">
          <p class="pr-20" style="margin-bottom: 0px; 
  margin-top: 0px;padding-right: 9px;
  line-height: 20px;">19300/Unit</p>
        </div>
      
      </div>

     <div fxLayout='row' class="total" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" style="padding: 0px 10px;border-bottom: 1px solid #000">
      
          <div fxFlex="100%">
            <p style="margin-bottom: 0px; 
  margin-top: 0px;
  line-height: 20px;">Amount in words</p>
            <p style="margin-bottom: 0px; 
  margin-top: 0px;
  line-height: 20px;">One lakh thirty Five Thousand Hundred Indian Rupees Only</p>
        </div>
      
      
      </div>
      
         
    <div fxLayout='row' class="total" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" style="padding: 0px 10px;border-bottom: 1px solid #000">
    
      
          <div fxFlex="100%">

           <p style="margin-bottom: 0px;
  margin-top: 0px;
  line-height: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam </p>
        </div>
      
      
      </div>
      
      
      
      <div class="bottom" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" style="
flex-direction: row;
box-sizing: border-box;
display: block !important;                           
place-content: stretch flex-start;
align-items: stretch; border-bottom: 1px solid #000;margin-top: 9px; padding-right: 10px; font-size: 14px;
">
      
   
         
       <div fxLayout='column' class="bottom" fxLayout.xs='column' fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutGap="1%" style="
padding-top: 50px; width: 100% !important; display: inline list-item !important;

box-sizing: border-box;
text-align: right;font-size: 14px; ">
      
         <div class="fxFlex=100%" fxLayout='row' class="top-space" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%"  style=" margin-right: 1%;  flex: 1 1 100%; display: flex;
                              box-sizing: border-box;width: 100%;  max-width: 100%; font-family: arial">
      

             
            <div fxFlex="60%" align="right" style="margin-bottom: 0px;line-height: 17px; display: block;float:left; width: 60%">
               <p>Rajesh Sharma (67)<br><small style="display: block;">21-May-21</small> <b>Created By</b></p>
             </div>
      
             <div fxFlex="20%" align="right" style="margin-bottom: 0px;line-height: 17px; display: block;float:left; width: 20%">
               <p>Vivek Gupta (67)<br><small style="display: block;">21-May-21</small> <b>Modified By</b></p>
             </div>
      
              <div fxFlex="20%" align="right" style="margin-bottom: 0px;line-height: 17px; display: block;float:left; width: 20%">
               <p>Rajesh Sharma (67)<br><small style="display: block;">21-May-21</small> <b>Verified By</b></p>
             </div>
      
      
      
          </div>
      
         
        </div>
      
      
      </div>
      
      
       
    <div fxLayout='row' class="footer" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="center" 
    >
         <div fxFlex="100%" style="width: 100%;">
           <p style="padding:4px 0px;margin-bottom: 0px; text-align: center; 
  margin-top: 0px;
  line-height: 20px;">This is a Computer Generated. Signature is not Required
      </p>
        </div>
      
      </div>
      
      </mat-card>
      
      </div>
      
      </div>
      
      
      </div>
      