<div class="content1">

        <div fxLayout='row' class="" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
    <mat-toolbar class="crumb">
        <div class="mv-19">
            <span class="mv-17"><a  routerLink="/production">Production Dashboard</a><span class="mv-18">/</span></span>
            <span class="mv-17">Outsourced Production</span>
        </div>
    </mat-toolbar>
</div>
        
        <div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
            <h2 class="mat-h2">Outsourced Production</h2>
        </div>
    
                
    <div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
        <mat-card fxFlex="33%" routerLink="/production/purchase/" class="">
                    <img mat-card-sm-image src="./assets/images/p-salary.png" alt="Complaints">
                    <mat-card-title>Purchase Planning</mat-card-title>
                </mat-card>
                <mat-card fxFlex="33%" routerLink="/production/purchaseorder/" class="">
                    <img mat-card-sm-image src="./assets/images/approved-salary.png" alt="Complaints">
                    <mat-card-title>Purchase Order (Pending)</mat-card-title>
                </mat-card>
        
                
            <mat-card fxFlex="33%" routerLink="/production/purchaseagainst/" class="">
                <img mat-card-sm-image src="./assets/images/paid-salary.png" alt="Complaints">
                <mat-card-title>Purchase Order (Approved)</mat-card-title>
            </mat-card>
            </div>

            <div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
              
                    <mat-card fxFlex="31.5%" routerLink="/production/purchaseagainst/" class="">
                        <img mat-card-sm-image src="./assets/images/paid-salary.png" alt="Complaints">
                        <mat-card-title>Purchase (Against PO)</mat-card-title>
                    </mat-card>

                    <mat-card fxFlex="31.5%" routerLink="/production/pendingorder/" class="">
                        <img mat-card-sm-image src="./assets/images/paid-salary.png" alt="Complaints">
                        <mat-card-title> Purchase Order (Pending Approval)</mat-card-title>
                    </mat-card>


                    </div>
        
        
        </div>
        <router-outlet></router-outlet>