<div class="content1">
<div fxLayout='row' class="" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
    <mat-toolbar class="crumb">
        <div class="mv-19">
          <span class="mv-17"><a routerLink="/support-crm">Support CRM Dashboard </a><span class="mv-18">/</span></span>
          <span class="mv-17"><a routerLink="/support-crm/crmforms">Survey Forms </a><span class="mv-18">/</span></span>
          <span class="mv-17"><a routerLink="/support-crm/formresponses">Survey History </a><span class="mv-18">/</span></span>
          <span class="mv-17">Customer Details</span>
        </div>
    </mat-toolbar>

      </div><!-- row -->
      <div fxLayout='row' fxLayout.xs='column' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
      <div class="content" fxFlex="100%">
        <mat-card class="mv-101">
          <div fxFlex="100%" class="heading" fxLayout.xs='column' fxLayout.sm='column'>
            <h2 class="mat-h2">Account's Details</h2>
          </div>
          <div fxFlex="100%" class="heading" fxLayout.xs='column'  fxLayout.sm='column'>

            <div class="example-button-row" fxLayoutGap="1%" fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.md="start" fxLayoutAlign.sm="start">
              

              <button mat-stroked-button class="edit-open">Financial Ledger</button>

              <button mat-stroked-button>Item Ledger</button>
              <button mat-stroked-button>Rewards Ledger</button>
              <button mat-stroked-button class="del1">Delete</button>
            </div>

          </div>
        </mat-card>

      </div>
    </div><!-- row -->
    <div fxLayout='row' class="content mv-100" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left">
      <mat-card fxFlex="25%">
        <div class="mv-51">
          <img class="mv-52" src="assets/images/face5.jpg" alt="">
          <h4><b>{{clientname}}</b><span class="clientname-icon"><a routerLink="/support-crm/add-account-customer-details" class="mv-51"><mat-icon>edit</mat-icon></a></span></h4>
          <p>{{clientdesignation}}</p>
        </div>
        <div class="mv-51">
          <h5>GST : </h5>
          <h5>Pan Number : </h5>
        </div>
        <div class="company-box border-bottom clearfix">
          <div class="template-demo d-flex justify-content-between flex-nowrap">
            <div class="row">
              <img src="assets/images/icon/ic_call.svg" class="mv-35">
              <img src="assets/images/icon/ic_msg.svg" class="mv-35">
              <img src="assets/images/icon/ic_mail.svg" class="mv-35">
              <img src="assets/images/icon/ic_whatsapp.svg" class="mv-35">
            </div>  
          </div>
        </div>

       

        <div class="mv-55">
          <div class="row">
            <h4><b>Other Contacts</b> <span class="mv-53"><a routerLink="/support-crm/add-account-customer-details" class="mv-51"><mat-icon>person_add</mat-icon></a>
            </span>
            <p>{{clientname}}<br>
            {{clientphone}}<br>
            {{clientemail}}</p>

          </h4>
        </div>
      </div>


    </mat-card>
    <mat-card fxFlex="50%">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="To Do's (09)">To Do's (09)</mat-tab>
        <mat-tab label="Reminder  (09)">Reminder  (09)</mat-tab>
        <mat-tab label="Calender">Calender</mat-tab>
        <mat-tab label="Proposal">Proposal</mat-tab>
        <mat-tab label="Invoice">Invoice</mat-tab>
        <mat-tab label="Timeline">
    <h2 class="border1">Timeline</h2>
    <h3>Added</h3>
  <div class="target">
 <p><span class="amount">Created By</span> <span class="columme">:</span> <span class="amountvalue">System</span></p>

   <p><span class="amount">Stage Name</span> <span class="columme">:</span> <span class="amountvalue red">Not Contacted</span></p>
    <p><span class="amount">Expected Closure</span> <span class="columme">:</span> <span class="amountvalue"></span></p>
   
</div>


<div class="target11">
  <p><span class="amount">Created Date</span> <span class="columme">:</span> <span class="amountvalue">27-Aug-2020 14:19</span></p>

   <p><span class="amount">Deal Value</span> <span class="columme">:</span> <span class="amountvalue"> 0 (0%)</span></p>
    <p><span class="amount">Remarks</span> <span class="columme">:</span> <span class="amountvalue"></span></p>

  </div>
        </mat-tab>
        <mat-tab label="Gallery">Gallery</mat-tab>
        <mat-tab label="CRM Form">CRM Form</mat-tab>
        <mat-tab label="Plugin Info">
  <div class="target mv-pt-20">
   <p><span class="amount">Query ID</span> <span class="columme">:</span> <span class="amountvalue">245471206</span></p>

   <p><span class="amount">Query Type</span> <span class="columme">:</span> <span class="amountvalue">B</span></p>

   <p><span class="amount">Name </span> <span class="columme">:</span> <span class="amountvalue red">Pawan</span></p>

   <p><span class="amount">Mobile </span> <span class="columme">:</span> <span class="amountvalue"> +91-9350216635</span></p>

    <p><span class="amount">Email </span> <span class="columme">:</span> <span class="amountvalue">pawan88choudhary@gmail.com</span></p>
    <p><span class="amount">Subject </span> <span class="columme">:</span> <span class="amountvalue">Requirement for PF Esi Software
</span></p>

<p><span class="amount">Enquiry Message  </span> <span class="columme">:</span> <span class="amountvalue">I want to buy EPF ESI Software.</span></p>

<p><span class="amount">Quantity  </span> <span class="columme">:</span> <span class="amountvalue">1</span></p>

<p><span class="amount">Piece </span> <span class="columme">:</span> <span class="amountvalue">Need</span></p>

<p><span class="amount">Demo  </span> <span class="columme">:</span> <span class="amountvalue">Yes</span></p>

<p><span class="amount">Timeline  </span> <span class="columme">:</span> <span class="amountvalue">After a Week</span></p>

<p><span class="amount">Address  </span> <span class="columme">:</span> <span class="amountvalue">Rewari, Haryana</span></p>

<p><span class="amount">State  </span> <span class="columme">:</span> <span class="amountvalue">Haryana</span></p>

<p><span class="amount">Date/Time </span> <span class="columme">:</span> <span class="amountvalue">27-Aug-2020 11:27:34 AM
</span></p>


</div>
 <div class="target11 mv-pt-20">
     <p><span class="amount">Date</span> <span class="columme">:</span> <span class="amountvalue">27-Aug-20</span></p>

   <p><span class="amount">Log Time</span> <span class="columme">:</span> <span class="amountvalue"> 20200827112734</span></p>

   <p><span class="amount">Company Name </span> <span class="columme">:</span> <span class="amountvalue red"></span></p>

   <p><span class="amount">Product Name</span> <span class="columme">:</span> <span class="amountvalue"> PF Esi Software</span></p>

    <p><span class="amount">Enquiry Call Duration</span> <span class="columme">:</span> <span class="amountvalue"></span></p>
    <p><span class="amount">Enquiry Reciever Mobile</span> <span class="columme">:</span> <span class="amountvalue"></span></p>
    <p><span class="amount">Alternate Mobile</span> <span class="columme">:</span> <span class="amountvalue"></span></p>
    <p><span class="amount">Alternate Email ID</span> <span class="columme">:</span> <span class="amountvalue"></span></p>
    <p><span class="amount">Phone No.</span> <span class="columme">:</span> <span class="amountvalue"></span></p>
    <p><span class="amount">Alternate Phone No.</span> <span class="columme">:</span> <span class="amountvalue"></span></p>

 </div>

        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <mat-card fxFlex="25%">
      

        <div class="py-3 mv-12">
          <p class="clearfix">
            <span class="float-left">ERP ID</span>
            <span class="float-right">685
            </span>
          </p>
          <p class="clearfix"><span class="float-left">ERP Name</span>
            <span class="float-right">Vivek Gupta (65)</span></p>
            <p class="clearfix"><span class="float-left">Business Name</span>
              <span class="float-right">Vivek Gupta</span></p>
              <p class="clearfix"><span class="float-left">Alias Name</span>
                <span class="float-right"></span></p>
                <p class="clearfix"><span class="float-left">Under Account Group</span>
                  <span class="float-right">Director</span></p>
                  <p class="clearfix"><span class="float-left">Division Name</span>
                    <span class="float-right green">Sales Division (2)</span></p>
                    <p class="clearfix"><span class="float-left">Area Assign</span>
                    <span class="float-right green">Country</span></p>
                  </div>

                  <div class="mv-55 mv-12">
                    <div class="row">
                      <h4><b>Bank Details</b> <span class="mv-53"><a routerLink="/support-crm/add-account-customer-details" class="mv-51"><mat-icon>edit</mat-icon></a></span>

            <p class="clearfix"><span class="float-left">Account Type</span>
            <span class="float-right"><b>Savings</b></span></p>
            <p class="clearfix"><span class="float-left">Account Name</span>
            <span class="float-right"><b>Vivek Gupta</b></span></p>
            <p class="clearfix"><span class="float-left">Account No</span>
            <span class="float-right"><b>000701635560</b></span></p>
            <p class="clearfix"><span class="float-left">Bank Name</span>
            <span class="float-right"><b>ICICI Bank</b></span></p>
            <p class="clearfix"><span class="float-left">IFSC Code</span>
            <span class="float-right"><b>ICIC0000007</b></span></p>
            <p class="clearfix"><span class="float-left">Nick Name</span>
            <span class="float-right"></span></p>
            <p class="clearfix"><span class="float-left">Branch Name</span>
            <span class="float-right"><b>CP</b></span></p>
                    </h4>

                    
                  </div>
                </div>
              </mat-card>
            </div><!-- row -->
    </div>
    <router-outlet></router-outlet>