<div class="content1">
    <mat-toolbar  class="mat-elevation-z6 fixed-header" align="center">
      <div class="example-button-row">

      	 <button mat-stroked-button><span class="material-icons">
          email</span> <small>Email</small></button>


      	 <button mat-stroked-button><span class="material-icons">
          link</span> <small>Send Pay Url</small></button>
                   

      	 <button mat-stroked-button><span class="material-icons">
          done</span> <small>Generate Credit Note</small></button>

 <button mat-stroked-button><span class="material-icons">
          edit</span> <small>Edit Price</small></button>

           <button mat-stroked-button><span class="material-icons">
          edit</span> <small>Edit</small></button>

 <button mat-stroked-button><span class="material-icons">
          description</span> <small>Sales Return</small></button>

        <button mat-stroked-button><span class="material-icons">
          print</span> <small>Print</small></button>


       
      </div>
    </mat-toolbar>
      <div class="pdd-20">
      <div fxLayout='row' class="content" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left">
      
      <mat-card class="mat-card2">
      
      <div fxLayout='row' fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right">
      
        <div fxFlex="100%" align="center" class="cnt" >
          <h1 class="mat-h2 heading">Colston</h1>
          <p>H-112 Sec-63,Noida,Noida</p>
          <p>Uttar Pradesh - 201301</p>
          <p>Mobile : +91- 60000002727</p>
          <p>Email : info@ananda.co.in</p>
          <p>GSTIN : JKF57683HHJJ</p>
          <p>PIN : 3393003kh33</p>
          <p>SIN : 784GHJJG789</p>

          <h2>Production Voucher </h2>
         
        </div>
      
      </div>
      
      
      
      <div class="table t-table">
        <table cellspacing="0" cellpadding="0">
            <tr>
              <th>Voucher No</th>
              <th>Date</th>
              <th>Item Name </th>
              <th>Item Code </th>
              <th>Production Slip No.</th>
              <th>Batch</th>
              <th>BOM</th>
            </tr>
      
            <tr>
              <td>567896</td>
              <td>30-Apr-2021</td>
              <td>CPU</td>
              <td>7846</td>
              <td>210528-PS-001</td>
              <td>1001</td>
              <td>CPU with i5 Processor</td>
            </tr>
        </table>

      </div>
      
      
      

     <div fxLayout='row' fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right">
      
       
      

      <table class="details" cellpadding="0"  cellspacing="0">
      	<tr align="left" class="head">
      		<th style="border-right: 1px solid #000;text-align: center;">Components Consumption</th>
      		<th style="text-align: center;">Co Product/By Product/Scrap	</th>

      	</tr>
              
               <tr>
               	<td style="border-right: 1px solid #000; padding: 0px; width: 50%">

               		<table cellspacing="0" cellspacing="0">
               			<tr style="border-bottom: 1px solid #000">
               				<th style="border-bottom: 1px solid #000">Item <br>Name</th>
               				<th style="border-bottom: 1px solid #000">Qty</th>
               				<th style="border-bottom: 1px solid #000">Unit</th>
               				<th style="border-bottom: 1px solid #000">Price </th>
               				<th style="border-bottom: 1px solid #000">Amount</th>
               			</tr>
               			<tr>
               				<td>Cabinet</td>
               				<td>10</td>
               				<td>Pcs.</td>
               				<td>800</td>
               				<td>8,000</td>
               			</tr>
               			<tr>
               				<td>Hard Disk 1 TB</td>
               				<td>10</td>
               				<td>Pcs.</td>
               				<td>4560</td>
               				<td>45,600</td>
               			</tr>
               			<tr>
               				<td>Intel Processor</td>
               				<td>10</td>
               				<td>Pcs.</td>
               				<td>400</td>
               				<td>4,000</td>
               			</tr>
               			<tr>
               				<td>Ram 4 GB</td>
               				<td>10</td>
               				<td>Pcs.</td>
               				<td>2,000</td>
               				<td>20,000</td>
               			</tr>
               			<tr>
               				<td>Motherboard</td>
               				<td>10</td>
               				<td>Pcs.</td>
               				<td>2,750</td>
               				<td>27,500</td>
               			</tr>
               			<tr>
               				<td>Sony-CD Drive</td>
               				<td>10</td>
               				<td>Pcs.</td>
               				<td>1,200</td>
               				<td>12,000</td>
               			</tr>
               			<tr>
               				<td>SMPS</td>
               				<td>20</td>
               				<td>Pcs.</td>
               				<td>400</td>
               				<td>8,000</td>
               			</tr>
               			<tr>
               				<td colspan="5"></td>
               			</tr>
               			<tr>
               				<td colspan="5"></td>
               			</tr>
               			<tr>
               				<td colspan="5"></td>
               			</tr><tr>
               				<td colspan="5"></td>
               			</tr>
               			<tr align="right">
               				<td colspan="5" style="border-top: 1px solid #000;">1,25,100</td>
               			</tr>
               		</table>
               	</td>

               	<td style="padding: 0px; width: 50%">
               		<table cellspacing="0" cellspacing="0">
               			<tr>
               				<th style="border-bottom: 1px solid #000">Item Name</th>	<th style="border-bottom: 1px solid #000">% of Cost<br> Allocation</th>
               				<th style="border-bottom: 1px solid #000">Qty</th>
               				<th style="border-bottom: 1px solid #000">Unit</th>
               				<th style="border-bottom: 1px solid #000">Price </th>
               				<th style="border-bottom: 1px solid #000">Amount</th>
               			</tr>
               			<tr>
               					<td>Aluminium Scrap</td>
               				<td>0.04%</td>
               				<td>20</td>
               				<td>Gm.</td>
               				<td>200</td>
               				<td>4,000</td>
               			</tr><tr>
               				<td colspan="6"></td>
               			</tr><tr>
               				<td colspan="6"></td>
               			</tr><tr>
               				<td colspan="6"></td>
               			</tr><tr>
               				<td colspan="6"></td>
               			</tr><tr>
               				<td colspan="6"></td>
               			</tr><tr>
               				<td colspan="6"></td>
               			</tr>
               			<tr>
               				<td colspan="5">Cost of Components</td>
               				<td>1,25,100</td>
               			</tr>
               			<tr>
               				<td colspan="5"><i>Packaging Charges</i></td>
               				<td>5,000</td>
               			</tr>
               			<tr>
               				<td colspan="5">Additional Cost</td>
               				<td style="border-bottom: 1px solid #000">5,000</td>
               			</tr>
               			<tr>
               				<td colspan="5">Effective Cost</td>
               				<td>1,25,100</td>
               			</tr>
               			<tr>
               				<td colspan="5">Effective Rate of Primary Item</td>
               				<td>1,619.35/U</td>
               			</tr>
               		</table>

               	</td>
               </tr>
            </table>


      </div>
      
   
      
      <div fxLayout='row' class="total" fxLayout.xs='row' fxLayout.sm='row' fxL
ayout.md='row' fxLayoutWrap fxLayoutAlign="right">
      
          <div fxFlex="100%">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam </p>
        </div>
      
      
      </div>
      
      
      
      
      <div fxLayout='row' class="bottom" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%">
      
        <div fxFlex="40%" fxFlex.md="46%" fxFlex.sm="46%" fxFlex.xs="46%" align="left" class="b-details">
         
        
        </div>
      
         <div fxFlex="60%" fxFlex.md="54%" fxFlex.sm="54%" fxFlex.xs="54%" fxLayout='column' class="bottom" fxLayout.xs='column' fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutGap="1%">
      
          <div class="fxFlex=100%" fxLayout='row' class="top-space" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%">
        <div fxFlex="70%" align="right">
               <p>Vivek Gupta <span class="blue">(656)</span> <b>Supervisor</b></p>
             </div>
             <div fxFlex="30%" align="right">
               <p>Vivek Gupta <span class="blue">(656)</span> <b>Prepared By</b></p>
             </div>
      
      
      
          </div>
      
         
        </div>
      
      
      </div>
      
      
      
      <div fxLayout='row' class="footer" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="center">
      
        <div fxFlex="100%">
          <p>This is a Computer Generated. Signature is not Required
      </p>
        </div>
      
      </div>
      
      </mat-card>
      
      </div>
      
      </div>
      
      
      </div>
      