<div class="content1">


<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">

<div fxLayout='column' fxLayoutAlign="center" fxLayoutGap="3%" class="center-block">
	<mat-card fxFlex="33%">
		<div class="title" fxLayout='row' >
			<img class="sm-image" src="./assets/images/employees.png" alt="">
			<mat-card-title><small>Paying To</small><br> Geton Infotech Pvt. Ltd.</mat-card-title>
		</div>
		<strong>Purpose of Payment</strong>
		<p>Lorem Ipsum Dolar Sit Amet</p>

		<strong>Amount</strong>
		<p>100.00</p>

		 <div fxLayoutalign="center"> <button mat-raised-button color="primary" ><mat-icon>account_balance_wallet</mat-icon> PAY</button></div>

	</mat-card>
		<img src="./assets/images/cards.png" alt="" class="cards">
</div>
</div>






</div>
<router-outlet></router-outlet>