<div class="content1">

    <mat-toolbar  class="mat-elevation-z6 fixed-header" align="center">
        <h2 class="mat-h2">Preview</h2>
    </mat-toolbar>

	<div class="layout">

		
			<mat-card> 

				<div fxFlex.lg='100%' fxLayout='row' class="" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

					<div fxFlex.lg='30%' fxFlex.sm='100%' fxLayout='row' fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

						<div class="preview" fxFlex='100%' fxLayout='column' fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>
							<h4><b>SMS Preview</b></h4>

							<div class="contentt" fxFlex='100%' fxLayout='column' fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>


							<div fxFlex='100%' fxLayout='row' class="top-row" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex='100%'>
									<span class="material-icons blue">
navigate_before</span>
								</div>

								<div fxFlex='100%' fxLayoutAlign="center">
									<h3>ALKAAH</h3>
								</div>

								<div fxFlex='100%' fxLayoutAlign="end">
									<span class="material-icons blue">
error_outline</span>
								</div>

							</div>
							<div>
								<p>Text message</p>
								<p>Wed, Jan 20, 2021 8:51 AM

</p>
							</div>
							<div class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
						</div>

						</div>
					</div>
					<div fxFlex='70%' fxLayout='column' class="right-bar" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>
						<h4><b>Summary</b></h4>

						<div fxLayout='row' class="" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex='20%'>
									<h2><small>Recipients</small>
244</h2>
								</div>

								<div fxFlex='20%'>
									<h2><small>Messages</small>
244</h2>
								</div>

								<div fxFlex='20%'>
									<h2><small>Cost</small>
₹25.62</h2>
								</div>

							</div>


							<div fxLayout='row' class="" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex.lg='20%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									<b>Shortest message:</b>
								</div>

								<div fxFlex.lg='80%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									8 characters
								</div>


							</div>


							<div fxLayout='row' class="" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex.lg='20%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									<b>Longest message:</b>
								</div>

								<div fxFlex.lg='80%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									8 characters
								</div>


							</div>


							<div fxLayout='row' class="" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex='100%' >
									<h3>Advanced options</h3>
								</div>



							</div>

								<div fxLayout='row' class="" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex.lg='20%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									<b>Validity period</b>
								</div>

								<div fxFlex.lg='80%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									48 hours
								</div>


							</div>

								<div fxLayout='row' class="" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex.lg='20%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									<b>Delivery speed</b>
								</div>

								<div fxFlex.lg='80%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									Unlimited
								</div>


							</div>



							<div fxLayout='row' class="" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex='100%' >
									<h3>Scheduling options</h3>
								</div>



							</div>

								<div fxLayout='row' class="" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex.lg='20%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									<b>Timezone</b>
								</div>

								<div fxFlex.lg='80%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									India / New Delhi (IST)

								</div>


							</div>

								<div fxLayout='row' class="" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="" fxFlex.xs='100%' fxFlex.sm='100%'>

								<div fxFlex.lg='20%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									<b>Delivery time window
</b>
								</div>

								<div fxFlex.lg='80%' fxFlex.sm='50%'  fxFlex.xs='50%'>
									Everyday 00 - 24

								</div>


							</div>


  <div class="example-button-row" fxLayoutAlign="end">
    <button mat-raised-button color="primary">Send Sms</button>

</div>
					</div>
				
				</div>
			</mat-card>



	</div>
    
    </div>