<div class="content1">

    <div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
        <mat-toolbar class="breadcrumb">Gate In</mat-toolbar>
    
    </div>
    
    <div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
        <h2 class="mat-h2">Gate In</h2>
    </div>
    
    <div fxLayout='row' fxLayoutGap="3%" class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="left">
        <mat-card fxFlex="33%" routerLink="/dispatch/pendingqc" class="">
            <img mat-card-sm-image src="./assets/images/salary-slip.png" alt="Complaints">
            <mat-card-title>Pending QC</mat-card-title>
        </mat-card>
        <mat-card fxFlex="33%" routerLink="/dispatch/pendingapproval" class="">
            <img mat-card-sm-image src="./assets/images/masters.png" alt="Complaints">
            <mat-card-title>Pending Approval</mat-card-title>
        </mat-card>
        <mat-card fxFlex="33%" routerLink="/dispatch/approved" class="">
            <img mat-card-sm-image src="./assets/images/assets.png" alt="Complaints">
            <mat-card-title>Approved</mat-card-title>
        </mat-card>
    </div>
    </div>
    <router-outlet></router-outlet>