<mat-card><h2 mat-dialog-title>Add operator</h2></mat-card><br>
<div mat-dialog-content>
	

<mat-form-field class="example-full-width">
      <mat-label>Operator Name</mat-label>
      <input matInput>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Company</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Created By</mat-label>
      <input matInput>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-raised-button mat-dialog-close>Save</button>
</div>