<mat-card><h2 mat-dialog-title>Add Template</h2></mat-card>
<div mat-dialog-content>
	

<div fxLayoutAlign="end"><small>1 Message / 160 characters left</small></div>
<mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Enter Your Message</mat-label>
    <textarea matInput placeholder="Enter Your Message" rows="6"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-raised-button mat-dialog-close>Submit</button>
</div>