
<mat-sidenav #sidenav1 id="rightFilterNav" mode="side" position="end" role="" class="sidenav-wv">
    <div class="mv-6">
        <form class="example-form">
            <h2 class="mv-2">Filter</h2>

           
          <span class="material-icons close-btn" (click)="sidenav1.toggle()"> close </span>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Search" appearance="outline" >
              </mat-form-field>
            
           
            <mat-dialog-actions align="start">
                <section>
                    <div class="example-button-row mv-5">
                        <button mat-button mat-dialog-close mat-raised-button color="white"
                            (click)="sidenav1.toggle()" class="btn-primary">Apply</button>
                        <button mat-button [mat-dialog-close]="true" cdkFocusInitial mat-raised-button
                            color="white">Clear</button>
                    </div>
                </section>
            </mat-dialog-actions>
        </form>
    </div>
</mat-sidenav>

<div class="content1">

<div fxLayout='row' class="" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
    <mat-toolbar class="crumb">
        <div class="mv-19">
            <span class="mv-17"><a  routerLink="/distribution">Distribution</a><span class="mv-18">/</span></span>
            <span class="mv-17"><a  routerLink="/distribution/saleorder/">Sale Order</a><span class="mv-18">/</span></span>
            <span class="mv-17"><a  routerLink="/distribution/indirectorder/">Indirect Order</a><span class="mv-18">/</span></span>
            <span class="mv-17">Ready To Pack</span>
        </div>
    </mat-toolbar>

</div>
    
    
    <div fxLayout='row' fxLayout.xs='column' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
        
        <div class="content" fxFlex="100%">
        <mat-card>
            <div fxFlex="100%" class="heading" fxLayout.xs='column' fxLayout.sm='column'>
                <h2 class="mat-h2">Ready To Pack</h2>
            </div>
    
            <div fxFlex="100%" class="heading" fxLayout.xs='column'  fxLayout.sm='column'>
                <div class="example-button-row" fxLayoutGap="1%" fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.md="start" fxLayoutAlign.sm="start">
                    <button mat-stroked-button><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">add</mat-icon><small>Add</small></button>
                    
                    <button mat-stroked-button><mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">arrow_upward</mat-icon><small>Import</small></button>
                    <button mat-stroked-button ><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">arrow_downward</mat-icon><small>Export</small></button>
                    <button mat-stroked-button><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">delete_outline</mat-icon><small>Delete</small></button>
                    <button mat-stroked-button (click)="sidenav1.toggle()"><span class="material-icons">filter_list</span></button>
                </div>
    
    
    
            </div>
    
    
    
        </mat-card>
    
        </div>
    </div>
    
    
    <div fxLayout='row' class="content content2" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">
    
    <mat-card fxFlex="100%">
    

        <mat-card>
          <div class="topbar"> 
         
    
            <div fxFlex="100%" class="heading" fxLayout.xs='column'  fxLayout.sm='column'>
                
        <div class="paging" fxFlex="100%" layout-align="end" fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.md="end" fxLayoutAlign.sm="start">
          
            <mat-paginator style-paginator showFirstLastButtons
                          [length]="7130"
                          [pageSize]="10"
                          pageSizeOptions
                          [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
            
        
          
        </div>
    
    
    
            </div>
    </div>
    
    
        </mat-card>
    
    
    <div class="table">
    <table mat-table [dataSource]="datass" class="mat-elevation-z8">
    
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Sr. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="subn">
        <th mat-header-cell *matHeaderCellDef>Subscription No. </th>
        <td mat-cell *matCellDef="let element"> {{element.subn}} </td>
      </ng-container>
    
      <ng-container matColumnDef="subd">
        <th mat-header-cell *matHeaderCellDef>Subscription Date </th>
        <td mat-cell *matCellDef="let element"> {{element.subd}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef class="name">Order From </th>
        <td mat-cell *matCellDef="let element" class="name"> {{element.item}} </td>
      </ng-container>

      
      <ng-container matColumnDef="test">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.test}} </td>
      </ng-container>
    

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef class="name">Order To</th>
        <td mat-cell *matCellDef="let element" class="name">{{element.code}}  </td>
      </ng-container>
     
      
      <ng-container matColumnDef="test2">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.test2}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="itgroup">
        <th mat-header-cell *matHeaderCellDef class="name">Item Name</th>
        <td mat-cell *matCellDef="let element" class="name">{{element.itgroup}}  </td>
      </ng-container>


      <ng-container matColumnDef="sale">
        <th mat-header-cell *matHeaderCellDef>Qty</th>
        <td mat-cell *matCellDef="let element">{{element.sale}}  </td>
      </ng-container>

      
      <ng-container matColumnDef="work">
        <th mat-header-cell *matHeaderCellDef>Bill Amt</th>
        <td mat-cell *matCellDef="let element">{{element.work}}  </td>
      </ng-container>

      
      <ng-container matColumnDef="purchase">
        <th mat-header-cell *matHeaderCellDef>Order Type</th>
        <td mat-cell *matCellDef="let element">{{element.purchase}}  </td>
      </ng-container>
      
      <ng-container matColumnDef="require">
        <th mat-header-cell *matHeaderCellDef>Tracking ID</th>
        <td mat-cell *matCellDef="let element">{{element.require}}  </td>
      </ng-container>
      
      <ng-container matColumnDef="pack">
        <th mat-header-cell *matHeaderCellDef>POD</th>
        <td mat-cell *matCellDef="let element">{{element.pack}}  </td>
      </ng-container>
      
      <ng-container matColumnDef="produce">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.produce}}  </td>
      </ng-container>
 
      <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef>Delivery Sch.</th>
        <td mat-cell *matCellDef="let element">{{element.schedule}}  </td>
      </ng-container>
      
    
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="action">
        
            <button mat-menu-item>
                <mat-icon>visibility</mat-icon>
                <span>View Details</span>
              </button>

        
        </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle">
      </tr>
    </table>
    </div>
    
    </mat-card>
    
    </div>
    
    
    
    </div>
    <router-outlet></router-outlet>