<h1 mat-dialog-title>Select Designation</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select Designation" aria-label="Number" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button (click)="closeDialog()" color="primary" mat-raised-button mat-dialog-close
    routerLink="/hrm/modulerights">Submit</button>
</div>