<div class="content1" style="font-family: arial">
    <mat-toolbar  class="mat-elevation-z6 fixed-header" align="center" align="center" style="position:fixed;z-index: 99; top: 0; right: 0; left: 0;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);background: #f5f5f5;height: 64px;display: flex;box-sizing: border-box;padding: 0 16px;
width: 100%;flex-direction: row;align-items: center;white-space: nowrap;color: rgba(0,0,0,.87);">
      <div class="example-button-row" style="margin: 0 auto!important; ">

         <button mat-stroked-button style="margin-right: 10px;padding: 0 8px; line-height: 30px;"><span class="material-icons">
          email</span> <small>Email</small></button>

        

        <button mat-stroked-button><span class="material-icons" style="margin-right:10px;padding: 0 8px;  line-height: 30px;">
          print</span> <small>Print</small></button>


       
      </div>
    </mat-toolbar>
 <div style="margin-top: 80px !important;padding-bottom: 80px !important; width: 960px; margin:0 auto">
 	  <div  class="pdd-20" style="font-size:14px;font-family:arial;
  letter-spacing: normal;width:99%; margin: 0 auto !important; display:block !important ">

<div  fxLayout='row' class="content" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left"
          style=" display:block !important; border:1px solid #000 !important; margin:0 auto !important; padding:0px 0px 0px 0px; justify-content:center; width:100%;">


    
      <div fxLayout='row' class="content at-comp" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left" style="width: 100%; ">
        <mat-card class="card" fxLayout='column' fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center" style="
    padding: 0px;
    background: #fff;
    width: 100%;   padding: 20px 0px;"
        >

    <div fxFlex="100%" class="text-center" style="text-align: center;">
        <h2 class="mat-h2" style="margin-bottom: 0px; text-align: center;
    font: 500 20px/32px Roboto, sans-serif;
    letter-spacing: normal;
    margin: 0 0 0px !important;">GETON INFOTECH PVT LTD</h2>
        <p style="text-align: center;margin: 0 0 0px;">2nd Floor, C130, Sector-2, Noida, Gautam Buddha Nagar, Uttar Pradesh, India - 201301</p>
        <p class="address" style="text-align: center;margin: 0 0 0px;">Mobile : 9971122333</p>
 <p class="address" style="text-align: center;margin: 0 0 0px;">GSTIN : 09AAGCG8058D1ZG</p>
        <mat-divider style="
    width: 60% !important;
    margin: 0 auto;
    position: inherit !important;
    display: block;
    
    border-top-width: 1px;
    border-top-style: solid;"></mat-divider>
        <h2 class="mat-h2" style="margin-bottom: 0px; text-align: center;"> Account Ledger</h2>
        <p class="green" style="color: rgba(52,150,39,.87) !important; text-align: center;margin-bottom: 10px !important;">(From 01-Apr-2021 to 10-Aug-2021)</p>
        <mat-divider style="
    width: 60% !important;
    margin: 0 auto;
    position: inherit !important;
    display: block;
    
    border-top-width: 1px;
    border-top-style: solid;"></mat-divider>

        <h2 class="mat-h2" style="margin-bottom: 0px; text-align: center;
    font: 500 20px/32px Roboto, sans-serif;
    letter-spacing: normal;
    margin: 0 0 0px !important;">Account : <span style="color: #007bff;">Ram Kumar (533)</span></h2>
        <p style="text-align: center;margin: 0 0 0px;">Mobile : +91-8938739302</p>
        <p style="text-align: center;margin: 0 0 0px;">Email : ramkumar@gmail.com</p>
        
        
    </div>
 <div class="table t-table" style="margin-bottom: 30px; text-align: center !important;
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;">
           <table cellspacing="0" cellpadding="0" style="
    width: 100%;
    box-shadow: none;">
            <tr>
             	<th style="font-weight: normal;
    padding: 5px 5px;
    border-right: 1px solid #000;">Credit Limit </th>
      		<th style="font-weight: normal;
    padding: 5px 5px;
    border-right: 1px solid #000;">Wallet Balance </th>
      		<th style="font-weight: normal;
    padding: 5px 5px;
    border-right: 1px solid #000;">To be deliverd</th>
          <th style="font-weight: normal;
    padding: 5px 5px;
   ">Usable Balance</th>
          
            </tr>
      
            <tr>
                    
                    <td style="font-weight: bold;
    padding: 5px 5px;
    border-right: 1px solid #000;">0.00</td>
                    <td style="font-weight: bold;
    padding: 5px 5px;
    border-right: 1px solid #000;">-52,049.00</td>
                    <td style="font-weight: bold;
    padding: 5px 5px;
    border-right: 1px solid #000;color: #007bff;">0.00</td>
                    <td style="font-weight: bold;
    padding: 5px 5px;
    ">-52,049.00</td>
                    
            </tr>
        </table>
      </div>
    <div fxFlex="100%">
        <div class="table">
          <table cellpadding="0" cellspcing="0" style="border-collapse: collapse;
    width: 100%;">
            <tr style="text-align: left; height: 35px;">
              <th style="background: #dedede !important;
    min-height: 35px !important; padding: 0px 14px;   border-bottom: 1px solid #d3d3d3;">Date</th>
              <th style="background: #dedede !important;
    min-height: 35px !important; padding: 0px 14px;   border-bottom: 1px solid #d3d3d3;">Vch. Type</th>
              <th style="background: #dedede !important;
    min-height: 35px !important; padding:  0px 14px;   border-bottom: 1px solid #d3d3d3;">Vch. No.</th>
              <th style="background: #dedede !important;
    min-height: 35px !important; padding:0px 14px ;   border-bottom: 1px solid #d3d3d3;">Particulars	</th>
              <th style="background: #dedede !important;
    min-height: 35px !important; padding:0px 14px ;   border-bottom: 1px solid #d3d3d3;">Narration</th>
              <th style="background: #dedede !important;
    min-height: 35px !important; padding:0px 14px ;   border-bottom: 1px solid #d3d3d3;">Debit (INR)</th>
              <th style="background: #dedede !important;
    min-height: 35px !important; padding:0px 14px ;   border-bottom: 1px solid #d3d3d3;">Credit (INR)</th>
              <th style="background: #dedede !important;
    min-height: 35px !important; padding:0px 13px ;   border-bottom: 1px solid #d3d3d3;">Balance (INR)
</th>

            </tr>
            <tr>
                <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
                <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
                <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
                <td style="text-align: left; height: 29px !important;
    font-size: 13px;font-weight: 600;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><b>Opening</b></td>
                <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
                <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
                <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
                <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">0.00 Dr</td>
            </tr>
            <tr>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;
    white-space: nowrap;"><span>07-May-2021<br> 02:35</span></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;">Pymt</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;">49-P-FY2021-22-HO1</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">Cr <a style="color: #007bff;">ICICI Bank Geton Ac 0372 (365)</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">Salary Apr21</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #f3001d;">17,749.00	</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">17,749.00 Dr</td>
            </tr>

            <tr>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;
    white-space: nowrap;"><span>07-Jun-2021<br> 02:35</span></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;">Pymt</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;">	210607-P-000093</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">Cr <a style="color: #007bff;">ICICI Bank Geton Ac 0372 (365)</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">Salary June2021</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #f3001d;">17,749.00	</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">17,749.00 Dr</td>
            </tr>

 <tr>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;
    white-space: nowrap;"><span>07-July-2021<br> 02:35</span></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;">Pymt</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;">210707-P-000136</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">Cr <a style="color: #007bff;">ICICI Bank Geton Ac 0372 (365)</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">Salary Jul2y021</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #f3001d;">17,749.00	</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">17,749.00 Dr</td>
            </tr>
 <tr>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;
    white-space: nowrap;"><span>07-July-2021<br> 02:35</span></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;">Pymt</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;">210707-P-000136</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">Cr <a style="color: #007bff;">ICICI Bank Geton Ac 0372 (365)</a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">Salary Jul2y021</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #f3001d;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #2a8605">17,749.00	</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">17,749.00 Dr</td>
            </tr>

 <tr>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;
    white-space: nowrap;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;"></a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;">Total</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #f3001d;">69,798.00</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #2a8605">17,749.00	</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
            </tr>

 <tr>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;
    white-space: nowrap;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;"></a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><b>Closing Balance</b></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #f3001d;"><b>0.00</b></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #2a8605"><b>52,049.00	</b></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
            </tr>

            <tr>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;
    white-space: nowrap;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><a style="color: #007bff;"></a></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"><b>Grand Total	</b></td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #f3001d;">69,798.00</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3; color: #2a8605">69,798.00</td>
              <td style="text-align: left; height: 29px !important;
    font-size: 13px;color: #000;padding: 0px 14px !important;    border-bottom: 1px solid #d3d3d3;"></td>
            </tr>
          </table>
        </div>
    </div>
</mat-card>
</div>

 


    </div>
    </div>
</div>
    </div>