<div class="bg" style="
    height: 100%;
    justify-content: center;">
<div fxFlex="35%" fxLayout='column' fxFlex.sm="100%" fxFlex.xs="100%" class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutGap="3%" layout-align="center center">
  

    <div fxFlex="100%" class="form" layoutalign="center" fxLayout='column' fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutGap="3%"  layout-align="center center" fxFlex.sm="100%" fxFlex.xs="100%">

     

  <mat-card fxLayout='column' fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center" class="card" style="
    width: 100%;
    text-align: center;
    padding: 60px 20px;">

     <div fxFlex="100%">
     	<img mat-card-sm-image src="./assets/images/failed.svg" >
     	<b class="amt">Payment of ₹1,499 failed!</b>
<p>The CVV number is missing</p>

<button mat-raised-button color="primary">Return to Payment Options</button>
		

    </div>


  </mat-card>
  
 


  </div>
</div>
</div>