.mat-dialog-content .mat-form-field-infix { width: 420px;}
.mat-dialog-content .mat-form-field { display:block !important;
    height: 60px;}
    @media only screen and (max-width:786px) { 
.mat-dialog-content .mat-form-field { display:block !important; width:100% !important }
.mat-dialog-content .mat-radio-button { margin-right: 13px !important;}
.mat-dialog-content .mat-radio-button ~ .mat-radio-button { margin-left: 0px !important; margin-right: 13px !important; margin-bottom: 10px !important }
}
.mat-dialog-content .mat-radio-group { margin-top: 17px; }
.action-bar .mat-card { margin:0px !important; }
