<mat-form-field>
  <mat-label>Search Pending Item</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search Loaded Item" #input>
</mat-form-field>
<div class="example-table-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

 

   <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Sr. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Pending Items </th>
    <td mat-cell *matCellDef="let element"><b> {{element.name}}</b> 
      <span class="mv-107"><span class="mv-111">CRT</span>{{element.crt}} </span>
  </ng-container>



  <!-- orderqty Column -->
  <ng-container matColumnDef="orderqty">
    <th mat-header-cell *matHeaderCellDef> Order Qty </th>
    <td mat-cell *matCellDef="let element"> {{element.orderqty}}  </td>
  </ng-container>


  <!-- orderqty Column -->
  <ng-container matColumnDef="loadedqty">
    <th mat-header-cell *matHeaderCellDef> Loaded Qty </th>
    <td mat-cell *matCellDef="let element"> {{element.loadedqty}}  </td>
  </ng-container>

    <!-- orderqty Column -->
  <ng-container matColumnDef="pendingqty">
    <th mat-header-cell *matHeaderCellDef> Bounce Qty </th>
    <td mat-cell *matCellDef="let element"> <span class="mv-115"> {{element.pendingqty}} </span></td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
</div>


