<div class="content1">

    <div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
        <mat-toolbar class="breadcrumb">Account Management</mat-toolbar>
    
    </div>
    
    <div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
        <h2 class="mat-h2">Account Management</h2>
    </div>
    
    <div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
        <mat-card fxFlex="33%" routerLink="/supaeradmin-module/account" class="border">
            <img mat-card-sm-image src="./assets/images/complaints.png" alt="Complaints">
            <mat-card-title>Accounts</mat-card-title>
        </mat-card>
        <mat-card fxFlex="33%" routerLink="/supaeradmin-module/accountgroup" class="">
            <img mat-card-sm-image src="./assets/images/complaints.png" alt="Complaints">
            <mat-card-title>Account Groups</mat-card-title>
        </mat-card>
    
      
    
    </div>
    </div>
    <router-outlet></router-outlet>