<div class="content1">

    <mat-toolbar  class="mat-elevation-z6 fixed-header" align="center">
        <h2 class="mat-h2">Production Slip</h2>
    </mat-toolbar>

<div class="layout">


    <div fxLayout='row' class="content at-comp" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="left">
    
    <mat-card class="">
      <div fxFlex="100%" fxLayout='row' class="tp-rw" fxLayoutGap="1%" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="left">
        
        <div fxFlex="50%" class="table" fxLayout='column' fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutAlign="left">
            <strong>Select Factory</strong>
            <mat-form-field class="example-full-width align" appearance="outline">
                <input type="text"
                        aria-label="Number"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto">
                 <mat-autocomplete #auto="matAutocomplete">
                   <mat-option *ngFor="let option of options" [value]="option">
                     {{option}}
                   </mat-option>
                 </mat-autocomplete>
               </mat-form-field>

               <div class="non-edit" >
                <h2>CP Outlet</h2>
                <p><b> C-130, 2nd Floor, Noida Sect 2,UP - 201301, <br> State Code - 09</b></p>
                <p>Mobile : <b>+91-8802457896 </b></p>
                <p>Email : <b>abcpvtltd@gmail.com</b></p>
                <p>GSTIN :<b> ADJFN6889655O6</b></p>
                <p>Erp ID : <b> <a class="blue">6723</a></b></p>
                <p>Alias :<b> CP Outlet</b></p>
            </div>
        </div>

        <div fxFlex="50%" class="table" fxLayout='column' fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutAlign="left">
            <strong>Select Supervisor</strong>
            <mat-form-field class="example-full-width align" appearance="outline">
                <input type="text"
                        aria-label="Number"
                        matInput
                        [formControl]="myControls"
                        [matAutocomplete]="autotest">
                 <mat-autocomplete #autotest="matAutocomplete">
                   <mat-option *ngFor="let option of optionss" [value]="option">
                     {{option}}
                   </mat-option>
                 </mat-autocomplete>
               </mat-form-field>

               <div class="non-edit" >
                <h2>Supervisor : Rahul Singh</h2>
              
		          <p>Mobile : <b>+91-9999999999</b></p>
		          <p>Email : <b>manishkumar5@gmail.com</b></p>
            </div>
        </div>

        

        

      </div>
    
    
    <div fxFlex="100%">
    <div class="table">
      
        <table class="horiz-table" cellpadding="0" cellspacing="0">
             <tr class="border">

                <th class="mat-header-cell">Production Vch No.</th>

                <th class="mat-header-cell">Batch No.</th>
                <th class="mat-header-cell">Date</th>

                <th class="mat-header-cell">Time</th>

                           
               
            </tr>
            <tr>
 <td class="pd-0 grey">                    
                 <div class="grey auto">                
                  <mat-form-field class="example-full-width" appearance="outline">                    
                    <input matInput value="" disabled>
                 </mat-form-field>
                </div>
                </td> 

                <td class="pd-0">                    
                 <div class="auto">                
                  <mat-form-field class="example-full-width" appearance="outline">                    
                    <input matInput value="">
                 </mat-form-field>
                </div>
                </td> 

                 <td class="grey pd-0 dates">
                    <mat-form-field class="example-full-width align" appearance="outline">
                    <input matInput [matDatepicker]="picker" disabled="disabled">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                </td>

                <td class="grey pd-0 dates">
                    <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="time" disabled="disabled">
               
                </mat-form-field>
                </td>

            </tr>

        </table>

        
    </div>
    </div>
    </mat-card>
    
    </div>  
   
      <div fxLayout='row' class="content" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left">
        <mat-card class="card" fxLayout='column' fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">

    <div fxFlex="100%">

        <div class="table">         
            
            <table class="table-2" cellpadding="0" cellspacing="0">
                <tr>

                    <th class="pd-10 wd-20">Sr.</th>
                    <th class="wd-60">Plan Dt</th>
                    <th class="wd-60">Plan No. </th>
                    <th class="wd-60">Code </th>
                    <th>Item Name</th>
                    <th class="wd-60">Planed </th>
                    <th class="wd-60">Already Produced</th>
                    <th class="wd-60">Cancel Qty </th>
                    <th class="wd-60">Balance Qty </th>
                    <th class="wd-60">Target Dt </th>
                    <th class="wd-60">Production Qty</th>
                    <th>Late Reason if Late </th>
                    <th class="pd-10">Action</th>
                </tr>
               

       <tr *ngFor="let item of row; let i = index" class="sr-no">
        <td class="auto-t pd-10 grey border-b-1 wd-20">&nbsp;</td>
     
       <td class="grey wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput value="" disabled > 
           </mat-form-field>
       </td>

       <td class="grey wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput value="" disabled > 
           </mat-form-field>
       </td>

       <td class="grey wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput disabled="disabled" > 
           </mat-form-field>
       </td>
  		<td class="grey">
           <mat-form-field class="example-full-width name" appearance="outline">
           <input matInput disabled> 
           </mat-form-field>
       </td>
       <td class="grey wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput value="" disabled  > 
           </mat-form-field>
       </td>

       <td class="grey wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput value="" disabled > 
           </mat-form-field>
       </td>
 <td class="grey wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput value="" disabled > 
           </mat-form-field>
       </td>
       <td class="grey wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput value="" disabled > 
           </mat-form-field>
       </td>

       <td class="grey wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput value="" disabled > 
           </mat-form-field>
       </td>

       <td class="wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput value=""  > 
           </mat-form-field>
       </td>

       <td class="wd-60">
           <mat-form-field class="example-full-width" appearance="outline">
           <input matInput value="" > 
           </mat-form-field>
       </td>


       <td class="border-b-1 pd-10">   
       <span class="material-icons green" (click)="addTable()">add_to_photos</span>

       <span class="material-icons red" (click) = "deleteRow(i)">delete</span>
   </td>
   </tr>
              

                   <tr align="center" class="total-row">
                    <td colspan="2" class="grey pd-10" align="left">Total</td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                    <td class="grey"></td>
                </tr>
            </table>

        </div>


        
    </div>
</mat-card>
</div>




  
  <div fxLayout='row' class="content" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left">
        <mat-card class="card" fxLayout='column' fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
      <div fxFlex="100%">
        <form class="example-form">
        
          <mat-form-field class="example-full-width textarea" appearance="outline">
            <mat-label>Long Narration</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
    
        </form>
    
    </div>
    <div fxFlex="100%" fxLayout='row' class="tx-ded" fxLayout.xs='row'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%">
   
        <div fxFlex="100%" align="right"><button mat-raised-button color="primary">Create</button></div>
        
    </div>

    </mat-card>

    </div>

    


    </div>
    
    </div>