<div class="content1">

<div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
	<mat-toolbar class="breadcrumb">IVR Dashboard</mat-toolbar>

</div>

<div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
	<h2 class="mat-h2">IVR Dashboard</h2>
</div>

<div class="contents" fxLayout.xs='column'  fxLayout.sm='column'fxLayoutGap="3%" fxLayoutAlign="left">
	
<div  class="card">
	<mat-card routerLink="/ivrmodule/responses" class="">
		<img mat-card-sm-image src="./assets/images/leave.png" alt="Complaints">
		<mat-card-title>IVR Responses</mat-card-title>
	</mat-card>
</div>

<div class="card">
	<mat-card class="">
		<img mat-card-sm-image src="./assets/images/detailed-monthly.png" alt="Complaints">
		<mat-card-title>Mobile Logs</mat-card-title>
	</mat-card>
</div>

<div class="card">
	<mat-card  routerLink="/ivrmodule/ivrnumbers" class="">
		<img mat-card-sm-image src="./assets/images/joining.png" alt="Complaints">
		<mat-card-title>IVR Numbers</mat-card-title>
	</mat-card>
</div>

<div class="card">
	<mat-card  class="">
		<img mat-card-sm-image src="./assets/images/experience.png" alt="Complaints">
		<mat-card-title>Call Reports</mat-card-title>
	</mat-card>
</div>

	
</div>




</div>
<router-outlet></router-outlet>