

<div class="content-area">
  <div class="example-container mat-elevation-z8">
<mat-toolbar class="toolbar" style="display: none;">

  <mat-toolbar-row> 

  	 <div fxLayout='row' fxFlex="91%" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row'>

     <div class="icons" fxFlex="100%" fxLayoutAlign="left">
    <span class="material-icons" routerLink="/email">arrow_back</span>
     <span class="envelop">Envelope Id : #6754</span>
   

  </div>   
          
       <div><span class="example-spacer"></span>  </div>     

     <div fxFlex="100%" fxLayoutAlign="end">
      	<div fxShow="true" fxHide.lt-md>
      <div class="status">
       
        <span>Status :<button mat-button [matMenuTriggerFor]="aboveMenu">Open <span class="material-icons drp-ico">
		expand_more</span></button>
          <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item>Open</button>
            <button mat-menu-item>Done</button>
            <button mat-menu-item>Drop</button>
          </mat-menu>
		</span>
      </div>
      <div class="ico">
        <span class="material-icons">chevron_left</span>
        <span class="material-icons">chevron_right</span>
        <span class="material-icons">settings</span>
      </div>
    </div>
  </div>

 </div>


     
      
   
  </mat-toolbar-row>

</mat-toolbar>


<div class="tab-content" id="myTabContent">

<mat-toolbar class="toolbar-3">

  <mat-toolbar-row> 
  <div class="icons">
    <h4>New assignment: "Attendance 08-Apr-2020"</h4>
  </div>      
    <span class="example-spacer"></span>
      
    <div fxShow="true" fxHide.lt-md layout-align="end">
       <span class="material-icons">print</span>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-toolbar class="toolbar-4">

  <mat-toolbar-row> 
  <div class="icons">
     <img src="./assets/images/thankyou.png"  class="user">
   <span class="details"><span class="def">From :</span><b> Vivek Gupta (Classroom)</b> <small>vivekgupt@dialerp.com</small></span>
    <span class="details"><span class="def">To &nbsp; &nbsp; :</span> rahulgupta355@gmail.com</span>
    <span class="details"><span class="def">Date :</span> 21-Oct-2020 | 12:34</span>
  </div>      
    <span class="example-spacer"></span>
      
   
  </mat-toolbar-row>

</mat-toolbar>
 <div class="mail-body">
    
 <div fxLayout='row' class="attachment" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
  <mat-card fxFlex="100%" class="border">
    
<div class="emails" style="background: #fff; padding: 7px;border: 1px solid #e4e5e7;">
  <div style="text-align: left;">
    <div style="margin:4px 0px;">
      <span style="
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #0093a8;
    color: #fff;
    font-family: arial;
    font-size: 13px;">D</span>
      <span style="
    padding: 5px 11px;
    border-radius: 50%;
    background-color: #b11f24;
    color: #fff;
    font-family: arial;
    font-size: 13px;">I</span>
      <span style="
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #429444;
    color: #fff;
    font-family: arial;
    font-size: 13px;">A</span>
      <span style="
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #f5a11e;
    color: #fff;
    font-family: arial;
    font-size: 13px;">L</span>
      <span style="font-family: arial;font-size: 16px;    letter-spacing: .5px;">Erp</span>
    </div>
        <p style="
    font-family: arial;
    margin: 5px 0px;
    font-size: 14px;
    color: grey;">19-Oct-2021 | 15:31 Pm</p>
  </div>
  <div style="background: #f2f3f5; padding: 10px;">
    <div style="padding: 10px;border-radius:2px; background-color: #fff;color: #fff;font-family: arial; text-align: center; border:1px solid #e4e5e7;margin-bottom: 15px;">

      <h1 style="font-size: 20px; color: #000; font-weight: normal;font-family: arial;">Greetings!</h1>
      <p style="font-size:15px; color: #000;  font-weight: normal;font-family: arial; line-height: 22px; margin-bottom: 20px;">Thankyou for being a privilage customer of Dialerp. <br>Please find the requested attachment <span style="color:#1966d2; display: block;">AttendanceGroupList</span>
        
</p>
<button style="color: #fff;display: block;    background-color: #1966d2;font-family: arial;
    text-align: center;margin: 0 auto;border: 0;padding: 13px 25px;
    border-radius: 3px;font-size: 15px;letter-spacing: .5px;    margin-bottom: 24px; font-weight: normal;">Click to Download</button>
    </div>
  


    <div style="padding: 10px;border-radius:2px; background-color: #fff;color: #fff;font-family: arial; text-align: center; border:1px solid #e4e5e7; margin-bottom: 15px;">

      
      <p style="font-size:15px; color: #000; font-weight: normal;font-family: arial; line-height: 24px; margin-bottom: 20px;"> AttendanceGroupList Details</p>

    <div style="display: flex;">

      <div style="width: 40%;">
        <p style="color: #1966d2; font-weight: normal;font-size: 16px; line-height: 25px;"><small style="display: block;color: #000;
    font-weight: 500; font-size: 12px;">Requested by</small> Rahul Singh (55)</p>
      </div>
      <div style="width: 30%">
        <p style="color: #1966d2; font-weight: normal;font-size: 16px;
    line-height: 25px;"><small style="display: block;color: #000;
    font-weight: 500; font-size: 12px;">IP</small> 124.636.36.01</p>
      </div>
      <div style="width: 30%">
        <p style="color: #1966d2; font-weight: normal;font-size: 16px;
    line-height: 25px;"><small style="display: block;color: #000;
    font-weight: 500; font-size: 12px;">Count</small> 155</p>
      </div>

    </div>


        



    </div>


    <div style="padding: 10px;border-radius:2px; background-color: #fff;color: #fff;font-family: arial; text-align: center; border:1px solid #e4e5e7;">

      <p style="font-size:15px; color: #000;  font-weight: normal; font-family: arial; line-height: 24px; margin-bottom: 20px;">About DialErp</p>

<p style="font-size:12px; color: #848482;  font-weight: normal; font-family: arial; line-height: 20px; margin-bottom: 20px;">DialERP is the only ERP solution that caters to all business requirements. It is available on web and mobile applications both and has 5000+ modules. It is an integrated, affordable, business management solution, developed from the ground to meet the immediate and long terms needs of all small, medium and large organisations. The data is stored error-free in RDBMS and bigdata technologies and can be easily retrieved in Excel upon request. DialERP develops customer facing web portals, e-commerce websites and mobile apps for many businesses looking forward to improve it's brand image and wanting to handel larger number of transactions directly on ERP. It connects all the business processes that result in a profitable growth.</p>


<a style="color: #fff;display: block;    background-color: #1966d2;font-family: arial;text-align: center;margin: 0 auto;border: 0;padding: 13px 25px;border-radius: 3px;font-size: 15px;letter-spacing: .5px;    margin-bottom: 24px;display: inline-block;text-decoration: none; font-weight: normal;" href="https://dialerp.com/" target="_blank">Know More</a>


      <p style="font-size:15px; color: #000; font-weight: normal;font-family: arial; line-height: 24px; margin-bottom: 20px;">In Case you require any further information,<br>
Please call us on our support number 
 <a style="color:#1966d2; display: block;font-size: 18px;font-weight: 600; text-decoration: none"  href="tel:+91-9560444000">+91-9560444000</a>

</p>

<div style="align-items: center;justify-content: center;">
<p style="font-size:12px; color: #848482; font-weight: 500;font-family: arial;   line-height: 8px; margin-right: 10px; margin-top: 40px;">Team</p>
<div>
    <div style="margin:15px 0px;">
      <span style="
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #0093a8;
    color: #fff;
    font-family: arial;
    font-size: 13px;">D</span>
      <span style="
    padding: 5px 11px;
    border-radius: 50%;
    background-color: #b11f24;
    color: #fff;
    font-family: arial;
    font-size: 13px;">I</span>
      <span style="
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #429444;
    color: #fff;
    font-family: arial;
    font-size: 13px;">A</span>
      <span style="
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #f5a11e;
    color: #fff;
    font-family: arial;
    font-size: 13px;">L</span>
      <span style="font-family: arial;font-size: 16px;    letter-spacing: .5px; color: #000">Erp</span>
    </div>
  </div>


</div>

    </div>

    </div>
  </div>



   
  </mat-card>
  

</div>


      <div class="btn-block">
    <button mat-stroked-button><span class="material-icons">reply</span> Reply</button>  
    <button mat-stroked-button><span class="material-icons">arrow_forward</span> Forward</button>



  
  </div>
</div>

</div>

</div>
</div>



<router-outlet></router-outlet>