<div class="content1">

    <mat-toolbar  class="mat-elevation-z6 fixed-header" align="center">
        <h2 class="mat-h2">Approver's Assessment</h2>
    </mat-toolbar>
    
    <div fxLayout='row' class="content" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left">
    
    <mat-card class="mat-card2">
    
    
    <div class="tabless table2 table3 table-1">
      

      <strong>Approver's Assessment</strong>
    <table>




            <tr class="border">
                <td class="mat-header-cell cells">Approver </td>
                <td class="pd-0 grey">
                     <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput  disabled="disabled"> 
                    </mat-form-field>
                </td>
            </tr>

<tr class="border">
                <td class="mat-header-cell cells">Approver's Remarks</td>
                <td class="pd-0">
                
    <textarea matInput maxlength="200"></textarea>
 
                </td>
            </tr>

    
            <tr class="border">
                <td class="mat-header-cell cells">Actual End Date</td>
                <td class="pd-0">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput [matDatepicker]="pickere" >
                          <mat-datepicker-toggle matSuffix [for]="pickere"></mat-datepicker-toggle>
                          <mat-datepicker #pickere></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>




               <tr class="border">
                <td class="mat-header-cell cells">Actual Task Done</td>
                <td class="pd-0">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput (keypress)="numberOnly($event)"  > 
                    </mat-form-field>
                </td>
            </tr>


  
            <tr class="border">
                <td class="mat-header-cell cells">Approver's Score</td>
                <td class="pd-0 grey">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput (keypress)="numberOnly($event)" disabled="disabled" > 
                    </mat-form-field>
                </td>
            </tr>

            



        </table>
    
        
    
    
        <button mat-raised-button align="center" class="sbmt-btn">Submit Approver Score</button>
    



    </div>
    </mat-card>
    
    </div>
    
    
    </div>