<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sweet
      </mat-panel-title>
      <mat-panel-description>
       20 Items
     </mat-panel-description>
   </mat-expansion-panel-header>

   <app-report-bounce></app-report-bounce>
 </mat-expansion-panel>

 <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
     Bakery
   </mat-panel-title>
   <mat-panel-description>
    50 Items
  </mat-panel-description>
</mat-expansion-panel-header>

<app-report-bounce></app-report-bounce>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Milk
    </mat-panel-title>
    <mat-panel-description>
      100 Items
    </mat-panel-description>
  </mat-expansion-panel-header>

  <app-report-bounce></app-report-bounce>
</mat-expansion-panel>

<app-createprojected></app-createprojected>

</mat-accordion>


<div class="mv-141">
  <button mat-raised-button matStepperPrevious>Back</button>
  <button matStepperNext mat-raised-button color="accent">Continue</button>
</div>