
<mat-sidenav #sidenav1 id="rightFilterNav" mode="side" position="end" role="" class="sidenav-wv">
  <div class="mv-6">
    <form class="example-form">
      <h2 class="mv-2">Filter</h2>

      <span class="material-icons close-btn" (click)="sidenav1.toggle()"> close </span>


      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search" appearance="outline" >
      </mat-form-field>


      <mat-dialog-actions align="start">
        <section>
          <div class="example-button-row mv-5">
            <button mat-button mat-dialog-close mat-raised-button color="white"
            (click)="sidenav1.toggle()" class="btn-primary">Apply</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial mat-raised-button
            color="white">Clear</button>
          </div>
        </section>
      </mat-dialog-actions>
    </form>
  </div>
</mat-sidenav>


<div class="content1">
<div fxLayout='row' class="" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
    <mat-toolbar class="crumb">
        <div class="mv-19">
        <span class="mv-17"><a routerLink="/salescrm">Sales CRM Dashboard <span class="mv-18">/</span> </a></span>
        <span class="mv-17"><a routerLink="../deals">Deals <span class="mv-18">/</span> </a></span>
        <span class="mv-17">Open Deal</span>
      </div>

      <div class="data">
<p><span class="amount">Target Amt</span> <span class="columme">:</span> <span class="blue">10,00000</span></p>

   <p><span class="amount">Won Amt</span> <span class="columme">:</span> <span class="green">- 8,00000</span></p>

   <p class=""><span class="amount">Pending Amt</span> <span class="columme">:</span> <span class="amountvalue red">2,00000</span></p>

      </div>
    </mat-toolbar>

  

      </div><!-- row -->
<div fxLayout='row' fxLayout.xs='column' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
    <div class="content" fxFlex="100%">
      <mat-card>
        <div fxFlex="100%" class="heading" fxLayout.xs='column' fxLayout.sm='column'>
          <h2 class="mat-h2">Open Deal</h2>
        </div>
        <div fxFlex="100%" class="heading" fxLayout.xs='column'  fxLayout.sm='column'>
          <div class="example-button-row" fxLayoutGap="1%" fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.md="start" fxLayoutAlign.sm="start">
            <button mat-stroked-button routerLink="/salescrm/add-deal/"><mat-icon>add</mat-icon><span class="mv-16"> Add</span></button>
            <button mat-stroked-button><mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">arrow_upward</mat-icon><small>Import</small></button>
            <button mat-stroked-button ><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">arrow_downward</mat-icon><small>Export</small></button>
            <button mat-stroked-button><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">delete_outline</mat-icon><small>Delete</small></button>

            <button mat-stroked-button [matMenuTriggerFor]="menu" (click)="openDialog('viawizard')"><mat-icon>swap_horiz</mat-icon>
Bulk Transfer
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog('viawizard')">
    <span>Via Wizard</span>
  </button>
 
  <button mat-menu-item>
    <span>Via Import</span>
  </button>
</mat-menu>
            <button mat-stroked-button (click)="sidenav1.toggle()"><span class="material-icons">filter_list</span></button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

<!---
<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="left">
  <mat-card fxFlex="50%" class="">
    <h2 class="chart-heading">Aug-2020 Target</h2>
     <div style="display: block;">
  <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
  <div class="target">
 <p><span class="amount">Target Amount</span> <span class="columme">:</span> <span class="amountvalue">10,00000</span></p>

   <p><span class="amount">Won Amount</span> <span class="columme">:</span> <span class="amountvalue mv-13">- 8,00000</span></p>

   <p class="border1"><span class="amount">Pending Amount</span> <span class="columme">:</span> <span class="amountvalue red">2,00000</span></p>

   <p><span class="amount">Deal Amount</span> <span class="columme">:</span> <span class="amountvalue">24162105</span></p>

    <p><span class="amount">Expected Closure</span> <span class="columme">:</span> <span class="amountvalue">2554932.53</span></p>

</div>

</div>
  </mat-card>


  <mat-card fxFlex="50%">
     <h2 class="chart-heading">Lead Source (902)</h2>
   
     <div class="chartbarChartData">
      <canvas baseChart style="width: inherit;height: inherit;"
      [datasets]="barChartData" 
      [labels]="barChartLabels"
       [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType" 
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
        </canvas>
    </div>
  </mat-card>
  
</div>
-->
<div>
  <mat-card fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="left">

    <div fxFlex="33%" class="chartt">
    <h2 class="chart-heading">Aug-2020 Target <span class="material-icons"
      >create</span></h2>
     <div style="display: block;">
  <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>


</div>

  <div class="target">
 <p><span class="amount">Target Amount</span> <span class="columme">:</span> <span class="amountvalue">10,00000</span></p>

   <p><span class="amount">Won Amount</span> <span class="columme">:</span> <span class="amountvalue mv-13">- 8,00000</span></p>

   <p class="border1"><span class="amount">Pending Amount</span> <span class="columme">:</span> <span class="amountvalue red">2,00000</span></p>

   <p><span class="amount">Deal Amount</span> <span class="columme">:</span> <span class="amountvalue">24162105</span></p>

    <p><span class="amount">Expected Closure</span> <span class="columme">:</span> <span class="amountvalue">2554932.53</span></p>

</div>
</div>

  <div fxFlex="33%" class="ratings">
    <h2 class="chart-heading">Deal Stages</h2>
     <div style="display: block;" class="p-block">

      <p><span class="number">4</span> <span class="material-icons">grade</span> <span class="bar"></span> 0 Expected Win</p>
      <p><span class="number">3</span> <span class="material-icons">grade</span> <span class="bar"></span> 0 Proposal</p>
      <p><span class="number">2</span> <span class="material-icons">grade</span> <span class="bar"></span> 0 Meeting</p>
      <p><span class="number">1</span> <span class="material-icons">grade</span> <span class="bar"></span> 0 Contact Made</p>
      <p><span class="number">0</span> <span class="material-icons">grade</span> <span class="bar"></span> 0 Not Contacted</p>
      <p><span class="number">N/A &nbsp; &nbsp;</span><span class="bar"></span> 0 Not Rated</p>

</div>

  
</div>

  <div fxFlex="33%" class="chartt">
    <h2 class="chart-heading">Lead Source <span >67</span></h2>
     <div style="display: block;">
  <canvas baseChart 
    [data]="pieChartDatas" 
    [labels]="pieChartLabelss" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>


</div>

  <div class="target">
 <p><span class="amount">Indiamart</span> <span class="columme">:</span> <span class="amountvalue">8</span></p>

   <p><span class="amount">Contact Us</span> <span class="columme">:</span> <span class="amountvalue mv-13">6</span></p>

   <p class=""><span class="amount">Justdial Software</span> <span class="columme">:</span> <span class="amountvalue red">1</span></p>


</div>
</div>


  

  </mat-card>
  
</div>


   <div fxLayout='column' class="content content2" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">

    <mat-card fxFlex="100%">
  <mat-card fxLayout.xs='column' fxLayout.sm='column'>
          <div class="topbar" fxLayout.xs='column' fxLayout.sm='column'> 
            <div fxFlex="100%" class="heading" fxLayout.xs='column' fxLayout.sm='column'>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip>Agent Online</mat-chip>
                  </mat-chip-list>
            </div>
    
            <div fxFlex="100%" class="heading" fxLayout.xs='column'  fxLayout.sm='column'>
                
        <div class="paging" fxFlex="100%" layout-align="end" fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.md="end" fxLayoutAlign.sm="start">
          
            <mat-paginator style-paginator showFirstLastButtons
                          [length]="7130"
                          [pageSize]="10"
                          pageSizeOptions
                          [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
           </div>
     </div>
    </div>
     </mat-card>

    <div class="table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> SR. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="createdate">
      <th mat-header-cell *matHeaderCellDef> Create Date </th>
      <td mat-cell *matCellDef="let element">{{element.createdate}}
      <span class="mv-27">{{element.createtime}}</span>
       <span class="mv-27 mv-14">
      {{element.timeleft}}
    </span>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Enquiry Id </th>
      <td mat-cell *matCellDef="let element"><a class="mv-12" routerLink="../deal-details/" alt=""> {{element.name}}</a></td>
    </ng-container>
    <!-- complaint Column -->
    <ng-container matColumnDef="departmentname">
      <th mat-header-cell *matHeaderCellDef> Account Name </th>
      <td mat-cell *matCellDef="let element"><a class="mv-12" routerLink="../deal-details/" alt=""> {{element.departmentname}} </a>
        <span class="mv-29">{{element.details}}</span>
      </td>
    </ng-container>
    <!-- maxtat Column -->
    <ng-container matColumnDef="hod">
      <th mat-header-cell *matHeaderCellDef>  Contact </th>
      <td mat-cell *matCellDef="let element">{{element.hod}} 
        <span class="mv-27">
          {{element.email}}
        </span>
        <span class="mv-27">{{element.phone}}</span> 
      </td>
    </ng-container>
    <!-- maxtat Column -->
    <ng-container matColumnDef="totalpositions">
      <th mat-header-cell *matHeaderCellDef>Deal Value </th>
      <td mat-cell *matCellDef="let element"> {{element.totalpositions}} 
        <span class="mv-27">
         <mat-icon>thumb_up</mat-icon> <span class="mv-13">{{element.percentage}}</span>
       </span>
     </td>
   </ng-container>

   <!-- maxtat Column -->
   <ng-container matColumnDef="hired">
    <th mat-header-cell *matHeaderCellDef>Deal Stage</th>
    <td mat-cell *matCellDef="let element"> {{element.hired}}
     <span class="mv-27">
      {{element.star}}
      <mat-icon class="mv-28">star</mat-icon>
      <mat-icon class="mv-28">star</mat-icon>
      <mat-icon class="mv-28">star</mat-icon>
      <mat-icon>star_border</mat-icon>
      <mat-icon>star_border</mat-icon>
    </span>
  </td>
</ng-container>
<!-- maxtat Column -->
<ng-container matColumnDef="vacant">
  <th mat-header-cell *matHeaderCellDef>Lead Owner</th>
  <td mat-cell *matCellDef="let element">{{element.vacant}}</td>
</ng-container>

<ng-container matColumnDef="expectedclosure1">
  <th mat-header-cell *matHeaderCellDef>Expected Close</th>
  <td mat-cell *matCellDef="let element">{{element.expectedclosure1}}</td>
</ng-container>
<ng-container matColumnDef="leadsource">
  <th mat-header-cell *matHeaderCellDef>  Lead Source</th>
  <td mat-cell *matCellDef="let element">{{element.leadsource}}
   
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"
(click)="selection.toggle(row)">
</tr>
</table>
</div>

</mat-card>
</div><!-- row -->
    </div><!-- content1 -->
    <router-outlet></router-outlet>