<div class="content1" style="font-family: arial">
    <mat-toolbar  class="mat-elevation-z6 fixed-header" align="center" style="position:fixed;z-index: 99; top: 0; right: 0; left: 0;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);background: #f5f5f5;height: 64px;display: flex;box-sizing: border-box;padding: 0 16px;
width: 100%;flex-direction: row;align-items: center;white-space: nowrap;color: rgba(0,0,0,.87);">
      <div class="example-button-row" style="margin: 0 auto!important; ">

         <button mat-stroked-button style="margin-right: 10px;padding: 0 8px; line-height: 30px;"><span class="material-icons">
          email</span> <small>Email</small></button>

        

        <button mat-stroked-button style="margin-right: 10px;padding: 0 8px; line-height: 30px;"><span class="material-icons">
          print</span> <small>Print</small></button>


        <button mat-stroked-button style="margin-right: 10px;padding: 0 8px; line-height: 30px;"><span class="material-icons">
          delete_outline</span> <small>Delete</small></button>


       
      </div>
    </mat-toolbar>
     <div style="margin-top: 80px;">
       <div  class="pdd-20" style="font-size:14px;font-family:arial;
  letter-spacing: normal;width:900px; margin: 0 auto !important; display:block !important ">

        <div
          style=" display:block !important; border:1px solid #000 !important; margin:0 auto !important; padding:0px 0px 0px 0px; justify-content:center; width:99%; display: block !important;">
      
        <mat-card class="mat-card2" style="
  padding: 0px;
  background: #fff; width: 100%; display: block !important;
 ">
      
         <div fxLayout='row' fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" class="tp-row" style="
    padding: 10px;
    display: inline-flex;
    width: 100%;    box-sizing: border-box;">
      
      
        <div fxFlex="50%" align="left" style="width: 50%; float: left">
          <img src="./assets/images/Dial-ERP-Logo.svg" class="logo" style="width: 200px;">
        </div>
      
          <div fxFlex="50%" align="right" style="width: 50%; float: left">
          <h2 class="mat-h2 heading" style="margin:0px" >Production Plan</h2>
        </div>
      
      </div>

     <div fxLayout='row' fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right" style="
    display: inline-flex;
    width: 100%;">

      
        <div fxFlex="65%" align="left" class="cnt"style="padding:0px 0px 0px 12px; width: 65%; float: left;"  >
          <p class="heading" style="margin-bottom: 0px;">Factory <br><b>Geton Infotech Pvt Ltd,</b></p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">C-120 Sec-02, Noida</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Uttar Pradesh - 201301</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Mobile : +91-9999999999</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Email : info@dialerp.com</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">GSTIN : JKF57683HHJJ</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">PIN : 3393003kh33</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">SIN : 784GHJJG789</p>
 
        </div>
          <div fxFlex="35%" align="left" class="cnt cntt"style="padding:0px 0px 0px 12px; width: 35%; float: left;"  >
      
          <p style="margin-bottom: 0px;    margin-top: 0px;">Plan No : <b>210528-Pln-001</b></p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Plan Date  : 28-May-2021 14:00</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Supervisor: Rahul Singh</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Mobile : +91-9999999999</p>
          <p style="margin-bottom: 0px;    margin-top: 0px;">Email : manishkumar5@gmail.com</p>
               




        </div>


      </div>
      
     
      
      
      
     
      <div class="table-block" style="margin-top: 30px;">
      
      
      
      <strong style="display: block;
  margin-bottom: 10px;
  text-align: left !important;
  padding-left: 10px;">Item to be Produce</strong>
       <div class="table t-table" style="text-align: center !important; 
    border-top: 1px solid #000 !important;
    ">

     <table cellspacing="0" cellpadding="0" style="
    width: 100%; margin-bottom: 30px;
    box-shadow: none;">

      	<tr align="left" class="head">
      		<th class="wd-13" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Sr.</span></th>
          <th class="wd-75" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Item Code</span></th>
      		<th class="wd-150" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Item Name	</span></th>
          <th class="wd-75 br-right" style="font-weight: bold; border-right: 1px solid #000;
    padding: 5px 5px;border-bottom: 1px solid #000;
    " ><span>Group</span></th>
          <th class="wd-25" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Item<br> Qty</span></th>
          <th class="wd-25 br-right" style="font-weight: bold; border-right: 1px solid #000;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Unit</span>  </th>
          <th class="wd-25" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>UOM Qty</span></th>
          <th class="wd-75" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Start Date</span></th>
          <th class="wd-75 br-right" style="font-weight: bold; border-right: 1px solid #000;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Target End Date  </span></th>
          <th class="wd-25" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>BOM ID</span></th>
      		<th class="wd-25" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>MP Qty	</span></th>
      		<th class="wd-25" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Pack Qty</span></th>
      		
      	</tr>
                <tr align="left">
                    <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>12572</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>cow Milk 500Ml</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Milk</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>1</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5 Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>19-May-21</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>27-May-21</span></td> 
                     <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>BOM11</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                </tr>

                 <tr align="left">
                    <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>2</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>12572</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>cow Milk 500Ml</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Milk</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>1</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5 Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>19-May-21</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>27-May-21</span></td> 
                     <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>BOM11</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                </tr>

                  <tr align="left">
                    <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>3</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>12572</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>cow Milk 500Ml</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Milk</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>1</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5 Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>19-May-21</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>27-May-21</span></td> 
                     <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>BOM11</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                </tr>

                 <tr align="left">
                    <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>4</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>12572</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>cow Milk 500Ml</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Milk</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>1</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5 Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>19-May-21</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>27-May-21</span></td> 
                     <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>BOM11</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                </tr>

                  <tr align="left">
                    <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>12572</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>cow Milk 500Ml</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Milk</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>1</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5 Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>19-May-21</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>27-May-21</span></td> 
                     <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>BOM11</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                </tr>
            </table>




      <strong style="display: block;
  margin-bottom: 10px;
  text-align: left !important;
  padding-left: 10px;">Packing Material Reqired</strong>
       <table cellspacing="0" cellpadding="0" style="
    width: 100%; margin-bottom: 30px;  border-top: 1px solid #000 !important;
    box-shadow: none;">

        <tr align="left" class="head">
          <th class="wd-13" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Sr.</span></th>
          <th class="wd-75" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Mtr. Code </span></th>
          <th class="wd-150" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Material Name</span></th>
          <th class="wd-75 br-right" style="font-weight: bold; border-right: 1px solid #000;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Group</span></th>
          <th class="wd-25" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Req. <br> Qty</span></th>
          <th class="wd-25 br-right" style="font-weight: bold; border-right: 1px solid #000;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Unit </span> </th>
          <th class="wd-25" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>UOM Qty</span></th>
          <th class="wd-75" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Stock Before Plan
  </span></th>
          <th class="wd-75 br-right" style="font-weight: bold; border-right: 1px solid #000;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Stock After Plan </span></th>
        
          <th class="wd-75" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Received Notes</span></th>
        </tr>
                <tr align="left">
                  <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>A</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>Box 1</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Mtr Group</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>5</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>10</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span> </span></td>
                     <td class="wd-100" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "> <span> </span></td>
                </tr>

                 <tr align="left">
                  <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>2</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>B</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>Box 2</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Mtr Group</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>5</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>0</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span> 5</span></td>
                     <td class="wd-100" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span> </span></td>
                    
                </tr>
            </table>


      <strong style="display: block;
  margin-bottom: 10px;
  text-align: left !important;
  padding-left: 10px;">Material Reqired</strong>
         <table cellspacing="0" cellpadding="0" style="
    width: 100%; margin-bottom: 30px; border-top: 1px solid #000 !important;
    box-shadow: none;">
        <tr align="left" class="head">
          <th class="wd-13" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Sr.</span></th>
          <th class="wd-75" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Mtr. Code	</span></th>
          <th class="wd-150" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Material Name</span></th>
          <th class="wd-75 br-right" style="font-weight: bold; border-right: 1px solid #000;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Group</span></th>
          <th class="wd-25" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Req. <br> Qty</span></th>
          <th class="wd-25 br-right" style="font-weight: bold; border-right: 1px solid #000;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Unit </span> </th>
          <th class="wd-25" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>UOM Qty</span></th>
          <th class="wd-75" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Stock Before Plan
	</span></th>
          <th class="wd-75 br-right" style="font-weight: bold; border-right: 1px solid #000;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Stock After Plan	</span></th>
        
          <th class="wd-75" style="font-weight: bold;
    padding: 5px 5px;border-bottom: 1px solid #000;
    "><span>Received Notes</span></th>
        </tr>
                <tr align="left">
                  <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>1</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>A</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>Material A</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Mtr Group</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>5</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>10</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span> </span></td>
                     <td class="wd-100" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span> </span></td>
                </tr>

                 <tr align="left">
                  <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>2</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>B</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>Material A</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Mtr Group</span></td>

                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>5</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>0</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span> 5</span></td>
                     <td class="wd-100" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span> </span></td>
                    
                </tr>
                <tr align="left">
                  <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>3</span></td>
                  <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>C</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>Material A</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Mtr Group</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>5</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>10</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span> </span></td>
                     <td class="wd-100" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span> </span></td>
                    
                </tr>
                 <tr align="left">
                  <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>4</span></td>
                   <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>D</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>Material A</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Mtr Group</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>5</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>10</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span> </span></td>
                     <td class="wd-100" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span> </span></td>
                    
                </tr>
                 <tr align="left">
                  <td class="wd-13" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5</span></td>
                  <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>E</b></span></td>
                    <td class="wd-150" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>Material A</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>Mtr Group</span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span><b>5</b></span></td>
                    <td class="wd-25 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; 
   "><span><b>EA</b></span></td>
                    <td class="wd-25" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>5Kg</span></td>
                    <td class="wd-75" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span>3</span></td>
                    <td class="wd-75 br-right" style="
    padding: 5px 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;
   "><span>2</span></td>
                     <td class="wd-100" style="
    padding: 5px 5px; border-bottom: 1px solid #000;
   "><span> </span></td>
                    
                </tr>
            </table>

      </div>
       
     
      
      </div>
      
      
      
      <div class="bottom" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" style="
flex-direction: row;
box-sizing: border-box;
display: block !important;                           
place-content: stretch flex-start;
align-items: stretch; border-bottom: 1px solid #000;margin-top: 9px; padding-right: 10px; font-size: 14px;
">
      

        
       <div fxLayout='column' class="bottom" fxLayout.xs='column' fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutGap="1%" style="
padding-top: 50px; width: 100% !important; display: inline list-item !important;

box-sizing: border-box;
text-align: right;font-size: 14px; ">
      
          <div class="fxFlex=100%" fxLayout='row' class="top-space" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%"  style=" margin-right: 1%;  flex: 1 1 100%;
                              box-sizing: border-box;width: 100%;  max-width: 100%; font-family: arial">
      
               <div fxFlex="70%" align="right" style="margin-bottom: 0px;line-height: 17px; display: block;float:left; width: 70%">
               <p>Rajesh Sharma (67)<br><small style="display: block;">21-May-21</small> <b>Created By</b></p>
             </div>
      
            <div fxFlex="30%" align="right" style="width:30%;margin-bottom: 0px;line-height: 17px; display: block;float:left;">
               <p>Vivek Gupta (67)<br><small style="display: block;">21-May-21</small> <b>Modified By</b></p>
             </div>
      
      
      
      
          </div>
      
         
        </div>
      
      
      </div>
      
      
      
       <div fxLayout='row' class="footer" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="center" 
    >
    
      
        <div fxFlex="100%" style="width: 100%;">
         <p style="padding:4px 0px;margin-bottom: 0px; text-align: center; 
  margin-top: 0px;
  line-height: 20px;">This is a Computer Generated. Signature is not Required
      </p>
        </div>
      
      </div>
      
      </mat-card>
      
      </div>
      
      </div>
      
      </div>
    </div>
      