<div class="content1">
    <mat-toolbar  class="mat-elevation-z6 fixed-header" align="center">
      <div class="example-button-row">

      	 <button mat-stroked-button><span class="material-icons">
          email</span> <small>Email</small></button>


      	 <button mat-stroked-button><span class="material-icons">
          link</span> <small>Send Pay Url</small></button>
                   

      	 <button mat-stroked-button><span class="material-icons">
          done</span> <small>Generate Credit Note</small></button>

 <button mat-stroked-button><span class="material-icons">
          edit</span> <small>Edit Price</small></button>

           <button mat-stroked-button><span class="material-icons">
          edit</span> <small>Edit</small></button>

 <button mat-stroked-button><span class="material-icons">
          description</span> <small>Sales Return</small></button>

        <button mat-stroked-button><span class="material-icons">
          print</span> <small>Print</small></button>


       
      </div>
    </mat-toolbar>
      <div class="pdd-20">
      <div fxLayout='row' class="content" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left">
      
      <mat-card class="mat-card2">
      
      <div fxLayout='row' fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right">
      
        <div fxFlex="100%" align="center" class="cnt" >
          <h1 class="mat-h2 heading">Gopaljee Dairy Food Pvt. Ltd</h1>
          <p>H-112 Sec-63,Noida,Noida</p>
          <p>Uttar Pradesh - 201301</p>
          <p>Mobile : +91- 60000002727</p>
          <p>Email : info@ananda.co.in</p>
          <p>GSTIN : JKF57683HHJJ</p>
          <p>PIN : 3393003kh33</p>
          <p>SIN : 784GHJJG789</p>

          <h2>Journal</h2>  
        </div>
      
      </div>
      
      
      
      <div class="table t-table">
        <table cellspacing="0" cellpadding="0">
            <tr>
              <th>Voucher No</th>
              <th>Date</th>
            </tr>
      
            <tr>
              <td>J/10081 </td>
              <td>30-Apr-2021</td>
            </tr>
        </table>

      </div>
      
      
     
      <div>
      
      <table class="details" cellpadding="0"  cellspacing="0">
      	<tr align="left" class="head">
      		<th>Particulars</th>
      		<th>Debit (INR)	</th>
      		<th>Credit (INR)	</th>
      		<th>Short Narration</th>

      	</tr>
                <tr align="left">
                    <td>Cr <span class="blue">Kuldeep shrivastava Ananda crossing (36)</span></td>
                    <td></td>
                    <td>1976</td>
                    <td>Lorem Ipsum Dolar</td>
                </tr>


                <tr align="left">
                    <td>Dr <span class="blue">Reserve Wallet</span></td>
                    <td>1976</td>
                    <td></td>
                    <td>Lorem Ipsum Dolar</td>
                </tr>


                <tr align="left" class="totl" style="border-top: 1px solid #000">
                    <td></td>
                    <td>1976</td>
                    <td>1976</td>
                    <td></td>
                </tr>
            </table>


      </div>
      
      <div fxLayout='row' class="total" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right">
      
          <div fxFlex="100%">
          <p>One Thousand Nine Hundred Seventy Six Indian Rupees Only</p>
        </div>
      
      
      </div>
      
      <div fxLayout='row' class="total" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="right">
      
          <div fxFlex="100%">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam </p>
        </div>
      
      
      </div>
      
      
      
      
      <div fxLayout='row' class="bottom" fxLayout.xs='row'  fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%">
      
        <div fxFlex="40%" fxFlex.md="46%" fxFlex.sm="46%" fxFlex.xs="46%" align="left" class="b-details">
         
        
        </div>
      
         <div fxFlex="60%" fxFlex.md="54%" fxFlex.sm="54%" fxFlex.xs="54%" fxLayout='column' class="bottom" fxLayout.xs='column' fxLayout.sm='column' fxLayout.md='column' fxLayoutWrap fxLayoutGap="1%">
      
          <div class="fxFlex=100%" fxLayout='row' class="top-space" fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%">
      
             <div fxFlex="100%" align="right">
               <p>Vivek Gupta <span class="blue">(656)</span> <b>Prepared By</b></p>
             </div>
      
      
      
          </div>
      
         
        </div>
      
      
      </div>
      
      
      
      <div fxLayout='row' class="footer" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="center">
      
        <div fxFlex="100%">
          <p>This is a Computer Generated. Signature is not Required
      </p>
        </div>
      
      </div>
      
      </mat-card>
      
      </div>
      
      </div>
      
      
      </div>
      