<div class="content1">

<div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
	<mat-toolbar class="breadcrumb">Dial ERP Dashboard</mat-toolbar>

</div>

<div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
	<h2 class="mat-h2">Dial ERP Dashboard</h2>
</div>

<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	<mat-card fxFlex="33%" routerLink="/salescrm" class="">
		<img mat-card-sm-image src="./assets/images/salary.png" alt="Complaints">
		<mat-card-title>Sales CRM</mat-card-title>
	</mat-card>

	<mat-card fxFlex="33%" routerLink="/hrm" class="">
		<img mat-card-sm-image src="./assets/images/expenses.png" alt="Complaints">
		<mat-card-title>HRM</mat-card-title>
	</mat-card>
	<mat-card fxFlex="33%" routerLink="/finance" class="">
		<img mat-card-sm-image src="./assets/images/attendance.png" alt="Complaints">
		<mat-card-title>Finance</mat-card-title>
	</mat-card>
</div>

<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	<mat-card fxFlex="33%" routerLink="/distribution" class="">
		<img mat-card-sm-image src="./assets/images/settings.png" alt="Complaints">
		<mat-card-title>Distribution</mat-card-title>
	</mat-card>
<mat-card fxFlex="33%" routerLink="/dispatch" class="">
		<img mat-card-sm-image src="./assets/images/relieving.png" alt="Complaints">
		<mat-card-title>Logistics</mat-card-title>
	</mat-card>

	<mat-card fxFlex="33%" routerLink="/marketing" class="">
		<img mat-card-sm-image src="./assets/images/masters.png" alt="Complaints">
		<mat-card-title>Marketing</mat-card-title>
	</mat-card>
	
</div>
<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	<mat-card fxFlex="33%" routerLink="/sms" class="">
		<img mat-card-sm-image src="./assets/images/country.png" alt="Complaints">
		<mat-card-title>SMS</mat-card-title>
	</mat-card>

	<mat-card fxFlex="33%" routerLink="/email" class="">
		<img mat-card-sm-image src="./assets/images/country.png" alt="Complaints">
		<mat-card-title>Email</mat-card-title>
	</mat-card>
	
	<mat-card fxFlex="33%" routerLink="/ivrmodule" class="">
		<img mat-card-sm-image src="./assets/images/assets.png" alt="Complaints">
		<mat-card-title>IVR</mat-card-title>
	</mat-card>
	
</div>
<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	<mat-card fxFlex="33%" routerLink="/production" class="">
		<img mat-card-sm-image src="./assets/images/joining.png" alt="Complaints">
		<mat-card-title>Production</mat-card-title>
	</mat-card>
	<mat-card fxFlex="33%" routerLink="/service-crm" class="">
		<img mat-card-sm-image src="./assets/images/department.png" alt="Complaints">
		<mat-card-title>Service CRM</mat-card-title>
	</mat-card>
	<mat-card fxFlex="33%" routerLink="/support-crm" class="">
		<img mat-card-sm-image src="./assets/images/area.png" alt="Complaints">
		<mat-card-title>Support CRM</mat-card-title>
	</mat-card>
</div>


<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	
	<mat-card fxFlex="33%" routerLink="/supaeradmin-module" class="">
		<img mat-card-sm-image src="./assets/images/designation-level.png" alt="Complaints">
		<mat-card-title>SuperAdmin</mat-card-title>
	</mat-card>

	<mat-card fxFlex="33%">
		<img mat-card-sm-image src="./assets/images/approved-salary.png" alt="Complaints">
		<mat-card-title>Loader</mat-card-title>
	</mat-card>
	


	<mat-card fxFlex="33%" routerLink="/paymentlink">
		<img mat-card-sm-image src="./assets/images/p-salary.png" alt="Complaints">
		<mat-card-title>Payment Link</mat-card-title>
	</mat-card>

</div>


<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	
	<mat-card fxFlex="33%" routerLink="home/apilist" class="">
		<img mat-card-sm-image src="./assets/images/designation-level.png" alt="Complaints">
		<mat-card-title>API</mat-card-title>
	</mat-card>

</div>


</div>
<router-outlet></router-outlet>