<div class="content1 paymentlink">
    <mat-toolbar  class="mat-elevation-z6 fixed-header" align="center">
      <h2 mat-h2>Geton Infotech Pvt. Ltd.</h2>
    </mat-toolbar>

      <div class="pdd-20">
      <div fxLayout='row' class="content" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="left">
      
      <mat-card class="mat-card2">
	      <div class="payment-cont">
	       	<p>₹ 23,200</p>

	       	 <button mat-raised-button color="primary">Pay Now</button>

	       	 	<img  src="./assets/images/cards.png">
	      </div>


      
      <div class="table t-table">
      	<strong>Details</strong>
        <table cellspacing="0" cellpadding="0">
            <tr>
              <th>Quantity</th>
              <th>Item Name</th>
              <th>Price</th>
            </tr>
      
            <tr>
              <td>50 License</td>
              <td>Dialcrm (Enterprise Edition) @ 1 Month</td>
              <td>₹ 20,000</td>
            </tr>


            <tr>
              <td></td>
              <td>IGST</td>
              <td>₹ 3,600</td>
            </tr>

            <tr>
              <td></td>
              <td>IGST</td>
              <td>₹ 3,600</td>
            </tr>
            <tr>
              <td></td>
              <td>Total</td>
              <td>₹ 23,600</td>
            </tr>
            <tr>
              <td></td>
              <td>TDS Deductions 2%</td>
              <td>₹ 400</td>
            </tr>
            <tr>
              <td></td>
              <td><b>Amount Payable</b></td>
              <td><b>₹ 23,200</b></td>
            </tr>
        </table>

      </div>
      


      </mat-card>
      
      </div>
      
      </div>
      
      
      </div>
      