<div class="content1">

	<div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
		<mat-toolbar class="breadcrumb">My App</mat-toolbar>
	
	</div>
	
	<div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
		<h2 class="mat-h2">Distribution</h2>
	</div>
	
	<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	
		<mat-card fxFlex="33%" routerLink="/distribution/saleorder" class="border">
			<img mat-card-sm-image src="./assets/images/salary-slip.png" alt="Complaints">
			<mat-card-title>Sale Orders</mat-card-title>
		</mat-card>
	
		<mat-card fxFlex="33%" routerLink="/distribution/distributionmasters" class="border">
			<img mat-card-sm-image src="./assets/images/masters.png" alt="Complaints">
			<mat-card-title>Distribution Masters</mat-card-title>
		</mat-card>
	
		<mat-card fxFlex="33%" routerLink="/distribution/distributionsettings" class="border">
			<img mat-card-sm-image src="./assets/images/experience.png" alt="Complaints">
			<mat-card-title>Distribution Settings</mat-card-title>
		</mat-card>
	</div>

	<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	
		<mat-card fxFlex="33%" routerLink="/distribution/visitmanagement" class="border">
			<img mat-card-sm-image src="./assets/images/attendance.png" alt="Complaints">
			<mat-card-title>Visit Management</mat-card-title>
		</mat-card>

		<mat-card fxFlex="33%" routerLink="/distribution/saleareaplaneer" class="border">
			<img mat-card-sm-image src="./assets/images/attendance.png" alt="Complaints">
			<mat-card-title>Sale Area Planner</mat-card-title>
		</mat-card>

		<mat-card fxFlex="33%" routerLink="/distribution/deliveryrouteplanner" class="border">
			<img mat-card-sm-image src="./assets/images/attendance.png" alt="Complaints">
			<mat-card-title>Delivery Route Planner</mat-card-title>
		</mat-card>
	
		
	</div>

	<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	
		<mat-card fxFlex="31.5%" routerLink="/distribution/countryplanner" class="">
			<img mat-card-sm-image src="./assets/images/attendance.png" alt="Complaints">
			<mat-card-title>Country Planner</mat-card-title>
		</mat-card>

	
	
		
	</div>
	
	
	
	
	
	
	</div>
	<router-outlet></router-outlet>
	