<div class="content1">

<div fxLayout='row' class="" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
    <mat-toolbar class="crumb">
        <div class="mv-19">
            <span class="mv-17"><a  routerLink="/finance">Finance</a><span class="mv-18">/</span></span> 
            <span class="mv-17"><a  routerLink="/finance/account-management/">Account Management</a><span class="mv-18">/</span></span>
            <span class="mv-17">Manual Recharges</span>
        </div>
    </mat-toolbar>
</div>

<div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
	<h2 class="mat-h2">Manual Recharges</h2>
</div>

<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">

	<mat-card fxFlex="33%" class="border">
		<img mat-card-sm-image src="./assets/images/salary-slip.png" alt="Complaints">
		<mat-card-title>Pending Recharge</mat-card-title>
	</mat-card>

	<mat-card fxFlex="33%" class="border">
		<img mat-card-sm-image src="./assets/images/masters.png" alt="Complaints">
		<mat-card-title>Approved Recharge</mat-card-title>
	</mat-card>

</div>




</div>
<router-outlet></router-outlet>
