

<mat-sidenav #sidenav1 id="rightFilterNav" mode="side" position="end" role="" class="sidenav-wv">
        <div class="mv-6">
            <form class="example-form">
                <h2 class="mv-2">Filter</h2>
      
               
              <span class="material-icons close-btn" (click)="sidenav1.toggle()"> close </span>
      
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Search" appearance="outline" >
                  </mat-form-field>
                
               
                <mat-dialog-actions align="start">
                    <section>
                        <div class="example-button-row mv-5">
                            <button mat-button mat-dialog-close mat-raised-button color="white"
                                (click)="sidenav1.toggle()" class="btn-primary">Apply</button>
                            <button mat-button [mat-dialog-close]="true" cdkFocusInitial mat-raised-button
                                color="white">Clear</button>
                        </div>
                    </section>
                </mat-dialog-actions>
            </form>
        </div>
      </mat-sidenav>
      
      
      <div class="content1">
      
      <div fxLayout='row' class="" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
          <mat-toolbar class="crumb">
              <div class="mv-19">
                <span class="mv-17"><a  routerLink="/support-crm">Support CRM Dashboard</a><span class="mv-18">/</span></span>
                <span class="mv-17"><a  routerLink="/support-crm/complaints">Complaints</a><span class="mv-18">/</span></span>
                <span class="mv-17">Closed Complaints</span>
              </div>
          </mat-toolbar>
      
      </div>
       
    
          
          <div fxLayout='row' fxLayout.xs='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
              
              <div class="content" fxFlex="100%" >
              <mat-card fxLayout='row' fxLayout.xs='row' fxLayout.sm='row'>
                  <div fxFlex="100%" class="heading" >
                      <h2 class="mat-h2">Closed Complaints</h2>
                  </div>
          
                  <div fxFlex="100%" class="heading">
                      <div class="example-button-row" fxLayoutGap="1%" fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.md="start" fxLayoutAlign.sm="start">
                          <button mat-stroked-button ><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">arrow_downward</mat-icon><small>Export</small></button>
                          <button mat-stroked-button (click)="sidenav1.toggle()"><span class="material-icons">filter_list</span></button>
                      </div>
          
          
          
                  </div>
          
          
          
              </mat-card>
          
              </div>
          </div>
          
          <div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutAlign="left">
            <mat-card fxFlex="100%" fxLayout='row' class="chart" fxLayout.xs='column'fxLayout.sm='column' fxLayoutGap="3%" fxLayoutAlign="center">
                <div fxFlex="33%">
                     <h2 class="mat-h2">Assigned To <span class="green">(275)</span></h2>
                   <div class="chart-block">
                      <canvas baseChart
                          [labels]="pieChartLabels"
                          [data]="pieChartData"
                          [chartType]="pieChartType">                            
                      </canvas>
                    </div>
                </div>
            
                <div fxFlex="33%">
                     <h2 class="mat-h2">Solution Requested <span class="orange">(275)</span></h2>
                   <div class="chart-block">
                      <canvas baseChart
                          [labels]="pieChartLabels2"
                          [data]="pieChartData2"
                          [chartType]="pieChartType2">                            
                      </canvas>
                    </div>
                </div>
            
                <div fxFlex="33%">
                     <h2 class="mat-h2">Turn Around Time <span class="blue">(275)</span></h2>
                   <div class="chart-block">
                      <canvas baseChart
                          [labels]="pieChartLabels3"
                          [data]="pieChartData3"
                          [chartType]="pieChartType3">
                      </canvas>
                    </div>
                </div>
            </mat-card>
    
      
    </div>
    
          
          <div fxLayout='row' class="content content2" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">
          
          <mat-card fxFlex="100%">
          
      
              <mat-card>
                <div class="topbar"> 
               
          
                  <div fxFlex="100%" class="heading" fxLayout.xs='column'  fxLayout.sm='column'>
                      
              <div class="paging" fxFlex="100%" layout-align="end" fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.md="end" fxLayoutAlign.sm="start">
                
                  <mat-paginator style-paginator showFirstLastButtons
                                [length]="7130"
                                [pageSize]="10"
                                pageSizeOptions
                                [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                  
              
                
              </div>
          
          
          
                  </div>
          </div>
          
          
              </mat-card>
          
          
          <div class="table">
          <table mat-table [dataSource]="datass" class="mat-elevation-z8">
          
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Sr. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
    
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Complaint Id </th>
                <td mat-cell *matCellDef="let element" class="blue"> {{element.id}} </td>
              </ng-container>
    
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Create Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>
          
          
      
            <ng-container matColumnDef="document">
              <th mat-header-cell *matHeaderCellDef  class="name">Complaint From</th>
              <td mat-cell *matCellDef="let element" class="name blue">{{element.document}}<br> 
                    <div style="margin-top: 3px; color: gray;">Customer</div> </td>
            </ng-container>      
            
            <ng-container matColumnDef="demoo">
              <th mat-header-cell *matHeaderCellDef ></th>
              <td mat-cell *matCellDef="let element" >{{element.demoo}}  </td>
            </ng-container>
      
            
            <ng-container matColumnDef="complaint">
                <th mat-header-cell *matHeaderCellDef class="name" > Complaint To</th>
                <td mat-cell *matCellDef="let element" class="name blue" >{{element.complaint}}<br> 
                    <div style="margin-top: 3px; color: gray;">Partner</div>  </td>
              </ng-container>
          
            <ng-container matColumnDef="demo">
              <th mat-header-cell *matHeaderCellDef ></th>
              <td mat-cell *matCellDef="let element" >{{element.demo}}  </td>
            </ng-container>
      
      
          
            <ng-container matColumnDef="order">
                <th mat-header-cell *matHeaderCellDef>Tracking Id</th>
                <td mat-cell *matCellDef="let element" class="blue">{{element.order}}  </td>
              </ng-container>    
        
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="name" >Item Name </th>
              <td mat-cell *matCellDef="let element" class="name blue" >{{element.name}}<br> 
                <div style="margin-top: 3px; color: gray;">Medicines</div>  </td>
            </ng-container>
            
            <ng-container matColumnDef="amt">
              <th mat-header-cell *matHeaderCellDef >Amt</th>
              <td mat-cell *matCellDef="let element" >{{element.amt}}  </td>
            </ng-container>
      
      
            <ng-container matColumnDef="vch">
              <th mat-header-cell *matHeaderCellDef class="">Complaint<br>
                (Complant Type)</th>
              <td mat-cell *matCellDef="let element" class="red">{{element.vch}}  </td>
            </ng-container>
           
      
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef clas="name">Area</th>
              <td mat-cell *matCellDef="let element" class="name"> {{element.status}}</td>
            </ng-container>
          
          
            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
            </ng-container>
          
            <ng-container matColumnDef="pack">
              <th mat-header-cell *matHeaderCellDef class="name">Assigned To</th>
              <td mat-cell *matCellDef="let element" class="name blue"> {{element.pack}} </td>
            </ng-container>
      
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle">
            </tr>
          </table>
          </div>
          
          </mat-card>
          
          </div>
          
          
          
          </div>
          <router-outlet></router-outlet>