<div class="content1">

<div fxLayout='row' class="" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
    <mat-toolbar class="crumb breadcrumb">
        <div class="mv-19">
        <span class="mv-17"><a routerLink="/supaeradmin-module">SuperAdmin Dashboard <span class="mv-18">/</span> </a></span>
        <span class="mv-17">Default Settings</span>
      </div>
    </mat-toolbar>
      </div><!-- row -->

<div fxLayout='row' class="content" fxLayout.xs='column' fxLayoutWrap fxLayoutAlign="left">
	<h2 class="mat-h2">Default Settings </h2>
</div>

<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	<mat-card fxFlex="33%" routerLink="/supaeradmin-module/countryplanner/" class="">
		<img mat-card-sm-image src="./assets/images/complaints.png" alt="Complaints">
		<mat-card-title>Country Plannner</mat-card-title>
	</mat-card>
	<mat-card fxFlex="33%" routerLink="/supaeradmin-module/department/" class="">
		<img mat-card-sm-image src="./assets/images/relieving.png" alt="Complaints">
		<mat-card-title>Departments</mat-card-title>
	</mat-card>
	<mat-card fxFlex="33%" routerLink="/supaeradmin-module/subdepartment/" class="">
		<img mat-card-sm-image src="./assets/images/country.png" alt="Complaints">
		<mat-card-title>Sub-Departments</mat-card-title>
	</mat-card>
</div>

<div fxLayout='row' class="content row" fxLayout.xs='column'  fxLayout.sm='column' fxLayout.md='row' fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="left">
	<mat-card fxFlex="31.5%" routerLink="/supaeradmin-module/designation/" class="">
		<img mat-card-sm-image src="./assets/images/masters.png" alt="Complaints">
		<mat-card-title>Designations</mat-card-title>
	</mat-card>
	
</div>

</div>
<router-outlet></router-outlet>