.mat-form-field-infix { width:100% !important;}
.mat-dialog-content .mat-form-field { display:block !important; width:485px }
.labels {color: grey;
    margin-bottom: -32px !important;
    display: block;
    font-size: 11px !important;
    font-weight: 300;}
    .mat-expansion-panel { margin-bottom: 20px !important}

     @media only screen and (max-width:786px) { 
.mat-dialog-content .mat-form-field { display:block !important; width:100% !important }
.mat-radio-button ~ .mat-radio-button { margin-left: 0px !important; margin-bottom: 10px !important }
.mat-dialog-content  { padding-bottom: 10px; }
.mat-radio-button { margin-bottom: 10px !important}
}
