mat-card {padding: 8px;}
mat-card img { float: left }
mat-card-title { float: left; display: inline-block; font-size: 18px; 
	font-weight: normal; line-height: 85px; }
.mat-toolbar {margin-top: 23px; height: 45px !important;}
.row { margin-bottom: 15px; }
.border{ border-right: 8px solid #2a8605;}
.content { padding: 0 20px; background-color:#f2f2f2  }
.breadcrumb{ margin-bottom: 23px; background: transparent; visibility: hidden; }
